




<form id="requisition_form">
    <div class="row-fluid">
        <div class="span6">
            <div class="FormRow">
                <h4>Tipo</h4>
                <div class="FormRight">
                    <input  type="radio" id="req_m_radio" name="req_radio" value="1" >
                    <label class="radio_name radio inline"  for="req_m_radio"><span></span>Mensal</label> 
                    <input  type="radio" id="req_s_radio" name="req_radio"  value="2" checked="checked" >
                    <label class="radio_name radio inline"  for="req_s_radio"><span></span>Especial</label>  
                    <div   id="special_req_div">
                        <div class="FormRow">
                            <h4>Numero de Cliente</h4>
                            <div class="FormRight">
                                <input type="text" id="new_requisition_lead_id" class="validate[required]">
                            </div>
                        </div>
                        <div class="FormRow">
                            <h4>Número de contrato</h4>
                            <div class="FormRight">
                                <input id="new_requisition_contract" type="text" class="validate[required]" >
                         
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="FormRow">
                <h4>Anexo</h4>
                <div class="FormRight">
                    <input type="text" class="input-medium">
                </div>
            </div>
        </div>
        <div class="span6">

            <div class="FormRow">
                <h4>Produtos</h4>
               
                <div class="FormRight">
                    <table class="table table-bordered table-mod-2">
                        <thead>
                        <th>Nome do Produto</th>
                        <th>Max</th>
                        <th>Quantidade</th>
                        <th>Opção</th>
                        </thead>
                        <tbody id="new_requisition_product_tbody">
                        </tbody>
                    </table>
                </div> 
                <button id="new_requisition_product_add_line" class="btn btn-success right"><i class="icon-plus"></i>Adicionar produto</button>
            </div>
        </div>
        <div class="formRow">
              <button class="btn btn-primary right" id="new_requisition_submit_button"><i class="icon-check"></i>Encomendar</button>
    </div>         
    </div> 
</form>