<div id="ver_product_requisition_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Ver Encomenda</h3>
    </div>
    <table class="table table-mod table-striped">
        <thead>
            <tr>
                <th>Produto</th>
                <th style="width: 62px">Categoria</th>
                <th>Cor</th>
                <th title="Quantidate" style="width: 20px">#</th>
            </tr>
        </thead>
        <tbody id="show_requisition_products_tbody">

        </tbody>
    </table>
    <div class="modal-footer">
        <button class="btn" id="print_requisition"><i class="icon-print"></i>Imprimir</button>
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Sair</button>
    </div>
</div>


<div id="ver_anexo_requisition_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Anexos</h3>
    </div>
    <table class="table table-mod table-striped">
        <thead>
            <tr>
                <th>Nome</th>
            </tr>
        </thead>
        <tbody id="show_requisition_anexos_tbody">

        </tbody>
    </table>
    <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Sair</button>
    </div>
</div>