<div id="ver_product_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Script Modal" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Ver Encomenda</h3>
    </div>
    <div class="modal-body">
        <table class="table table-bordered">
            <thead>
            <th>Produto</th>
            <th>Tipo</th>
            <th>Cor</th>
            <th>Quantidade</th>
            
            </thead>
            <tbody id="show_requisition_products_tbody">

            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Sair</button>
    </div>
</div>