<link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap-fileupload.min.css" />


<div id="ver_product_requisition_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Script Modal" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Ver Encomenda</h3>
    </div>
    <div class="modal-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Produto</th>
                    <th>Tipo</th>
                    <th>Cor</th>
                    <th>Quantidade</th>
                </tr>
            </thead>
            <tbody id="show_requisition_products_tbody">

            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Sair</button>
    </div>
</div>


<div id="new_requisition_div" >
    <form id="requisition_form">
        <div class="row-fluid">
            <div class="span5">
                <div class="FormRow">
                    <h4>Tipo</h4>
                    <div class="FormRight">
                        <input  type="radio" id="req_m_radio" name="req_radio" value="1" >
                        <label class="radio_name radio inline"  for="req_m_radio"><span></span>Mensal</label> 
                        <input  type="radio" id="req_s_radio" name="req_radio"  value="2" checked="checked" >
                        <label class="radio_name radio inline"  for="req_s_radio"><span></span>Especial</label>  
                        <div   id="special_req_div">
                            <div class="FormRow">
                                <h4>Numero de Cliente</h4>
                                <div class="FormRight">
                                    <input type="text" id="new_requisition_lead_id" class="validate[required,custom[onlyNumberSp]]">
                                </div>
                            </div>
                            <div class="FormRow">
                                <h4>Número de contrato</h4>
                                <div class="FormRight">
                                    <input id="new_requisition_contract" type="text" class="validate[required,custom[onlyNumberSp]]" >

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="span7">
                <div class="FormRow">
                    <h4>Produtos</h4>
                    <div class="FormRight">
                        <table class="table table-bordered table-mod-2">
                            <thead>
                                <tr>
                                    <th>Nome do Produto</th>
                                    <th>Cor</th>
                                    <th>Max</th>
                                    <th>Quantidade</th>
                                    <th>Opção</th>
                                </tr>
                            </thead>
                            <tbody id="new_requisition_product_tbody">
                            </tbody>
                        </table>
                    </div>
                    <div class="formRow">
                        <button id="new_requisition_product_add_line" class="btn btn-primary right"><i class="icon-plus"></i>Adicionar produto</button>
                    </div>
                </div> 
            </div>  
            <div class="formRow">
                <button class="btn btn-success right" id="new_requisition_submit_button"><i class="icon-check"></i>Encomendar</button>
            </div> 
        </div>  
    </form>
    <div >
        <h4>Anexo</h4>
        <div class="formRow">
            <form enctype="multipart/form-data" action="" method="POST" id="anexo_input_form">
                <div class="fileupload fileupload-new" data-provides="fileupload">
                    <div class="input-append">
                        <div class="uneditable-input"><i class="icon-file fileupload-exists"></i> <span class="fileupload-preview"></span></div><span class="btn btn-file"><span class="fileupload-new">Escolha um ficheiro</span><span class="fileupload-exists">Alterar</span><input type="file" name="file_upload_all" id="file_upload" /></span><a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remover</a>
                    </div>
                </div>
            </form>
            <button class="btn" id="anexo_upload_button"  >upload</button>
            <div class="formRight">
                <strong class="inline" id="label_anexo_info" >   </strong>
            </div>
        </div>

    </div> 
</div> 
<script type="text/javascript" src="/bootstrap/js/bootstrap-fileupload.min.js"></script>
