<form id="create_product_form" class="check_form">



    <div class="formRow">
        <span>Nome</span>
        <input type="text" id="new_name" class="validate[required]">
    </div>
    <div class="formRow">
        <span>Parente</span>
        <div class="formRight">
            <select class="chosen-select" id="new_parent" multiple  data-placeholder="Selecione um parent"></select>
        </div>    
    </div>
    <div class="formRow">
        <span>Categoria</span>
        <div class="formRight">
            <select  id="new_category">
                <option value="pilha" >Pilha</option>
                <option value="aparelho">Aparelho</option>
                <option value="acessorio" >Acessórios</option>
                   <option value="molde" >Molde</option>
                      <option value="economato" >Economato</option>
            </select>
        </div>    
    </div>

    <div class="formRow">
        <span>Tipo</span>
        <div class="formRight">
            <input   type="checkbox" id="new_check_branch" name="new_tipo_user" value="branch" class="validate[minCheckbox[1]]">
            <label class="checkbox inline" for="new_check_branch"><span></span>Branch</label>
            <input   type="checkbox" id="new_check_dispenser" name="new_tipo_user" value="dispenser" class="validate[minCheckbox[1]]">
            <label class="checkbox inline" for="new_check_dispenser"><span></span>Dispenser</label>
        </div>    
    </div>
    <div class="formRow">
        <table >
            <thead>
                <tr>
                    <th>Max Requisições por Mês</th>
                    <th>Max Requisições Especiais</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="number" id="new_mrm" value="1" class="validate[required]"></td>
                    <td> <input type="number" id="new_mrw" value="1" class="validate[required]"></td>
                </tr>
            </tbody>
        </table>
    </div>

</form>
<div class="formRow">
    <div class="pull-right">
    <button class="btn btn-primary" id="create_new_product">Criar produto</button>
    </div>
</div>
