<!--EDIçÃO DE PRODUTOS-->
<div id="edit_product_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Script Modal" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3  >Gestão de produto</h3>
    </div>
    <div class="modal-body">
        <form id="edit_product_form" class="check_form">
            <div class="formRow">
                <span>Nome</span>
                <div class="formRight">
                    <input type="text" id="edit_product_name" class="validate[required]">
                </div>
            </div>
            <div class="formRow">
                <span>Parente</span>
                <div class="formRight">
                    <select class="chosen-select" id="edit_product_parent" multiple  data-placeholder="Selecione um parent"></select>
                </div>    
            </div>
            <div class="formRow">
                <span>Categoria</span>
                <div class="formRight">
                    <select  id="edit_product_category">
                        <option value="pilha" >Pilha</option>
                        <option value="aparelho">Aparelho</option>
                        <option value="acessorio" >Acessórios</option>
                        <option value="molde" >Molde</option>
                        <option value="economato" >Economato</option>
                    </select>
                </div>    
            </div>
            <div class="formRow">
                <span>Tipo</span>
                <div class="formRight">
                    <input   type="checkbox" id="edit_product_check_branch" name="edit_product_tipo_user" value="branch" class="validate[minCheckbox[1]]">
                    <label class="checkbox inline" for="edit_product_check_branch"><span></span>Branch</label>
                    <input   type="checkbox" id="edit_product_check_dispenser" name="edit_product_tipo_user" value="dispenser" class="validate[minCheckbox[1]]">
                    <label class="checkbox inline" for="edit_product_check_dispenser"><span></span>Dispenser</label>
                </div>    
            </div>
            <div class="formRow">
                <span>Max Requisições</span>
                <table >
                    <thead>
                        <tr>
                            <th>Mensal</th>
                            <th>Especial</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="number" id="edit_product_mrm" value="5" class="input-mini validate[required]"></td>
                            <td><input type="number" id="edit_product_mrw" value="5" class="input-mini validate[required]"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="formRow" id="edit_product_color_div" style="display:none">
                <table class="table table-bordered table-mod">
                    <thead>
                        <tr>
                            <th>
                                Cor
                            </th>
                            <th>
                                Nome

                            </th>

                        </tr>
                    </thead>
                    <tbody id="edit_product_table_tbody_color">
                    </tbody>
                </table>
                <div class="formRow pull-right">
                    <button class="btn btn-primary" id="edit_product_button_color_add_line"><span class="icon-plus"></span>Adicionar Cor</button>

                </div>
            </div>
            <div class="formRow" id="edit_product_promotion_div">
                <h5>Promoções</h5>
                <table class="table table-bordered"  >
                    <thead>
                        <tr>
                            <th>
                                Activo
                            </th>
                            <th>
                                HighLight
                            </th>
                            <th>
                                Data Inicio
                            </th>
                            <th>
                                Data Fim
                            </th>
                            <th>
                                Opção
                            </th>
                        </tr>
                    </thead>
                    <tbody id="edit_product_promotion_table_tbody">
                        <tr>
                            <td colspan="5">
                                Sem promoções
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button class="btn" id="edit_product_add_promotion_toggle">Adicionar</button>
                <div id="edit_product_new_promotion_div" style="display:none" >
                    <div class="formRow">
                        <div class="formRight">
                            <input   type="checkbox" id="edit_product_promotion_active" name="promotion_active"  >
                            <label class="checkbox inline" for="edit_product_promotion_active"><span></span>Activo</label>
                        </div>
                    </div>
                    <div class="formRow">
                        <div class="formRight">
                            <input   type="checkbox" id="edit_product_promotion_highlight" name="promotion_highlight"    >
                            <label class="checkbox inline" for="edit_product_promotion_highlight"><span></span>Highligh</label>
                        </div>
                    </div>
                    <div class="formRow">
                        <span>Data inicial da Promoção</span>
                        <div class="formRight">
                            <input size="16" type="text" class="form_datetime_day validate[required]" readonly id="edit_product_data_promoçao1" placeholder="Data inicial promoção">
                        </div>
                    </div>
                    <div class="formRow">
                        <span>Data final da Promoção</span>
                        <div class="formRight">
                            <input size="16" type="text" class="form_datetime_day validate[required]" readonly id="edit_product_data_promoçao2" placeholder="Data final promoção">
                        </div>
                    </div>
                    <button class="btn" id="edit_product_add_promotion_button">Adicionar promoção</button>
                </div>
            </div>



            <div class="formRow" id="edit_product_children_div">
                <h5>Sub-peças deste produto</h5>
                <table class="table table-bordered table-mod" id="edit_product_child_datatable" >
                    <thead>
                        <tr>
                            <th>
                                Nome
                            </th>
                            <th>
                                Categoria
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>

        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" id="sair_button" aria-hidden="true">Sair</button>
        <button id="edit_product_button" class="btn btn-primary">Editar</button>
    </div>
</div>

<!--Novo  PRODUTOS-->
<div id="new_product_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Script Modal" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3  >Novo Produto</h3>
    </div>
    <div class="modal-body">
        <form id="new_product_form" class="check_form">
            <div class="formRow">
                <span>Nome</span>
                <div class="formRight">
                    <input type="text" id="new_product_name" class="validate[required]">
                </div>
            </div>
            <div class="formRow">
                <span>Parente</span>
                <div class="formRight">
                    <select class="chosen-select" id="new_product_parent" multiple  data-placeholder="Selecione um parent"></select>
                </div>    
            </div>
            <div class="formRow">
                <span>Categoria</span>
                <div class="formRight">
                    <select  id="new_product_category">
                        <option value="pilha" >Pilha</option>
                        <option value="aparelho">Aparelho</option>
                        <option value="acessorio" >Acessórios</option>
                        <option value="molde" >Molde</option>
                        <option value="economato" >Economato</option>
                    </select>
                </div>    
            </div>
            <div class="formRow">
                <span>Tipo</span>
                <div class="formRight">
                    <input   type="checkbox" id="new_product_check_branch" name="new_product_tipo_user" value="branch" class="validate[minCheckbox[1]]">
                    <label class="checkbox inline" for="new_product_check_branch"><span></span>Branch</label>
                    <input   type="checkbox" id="new_product_check_dispenser" name="new_product_tipo_user" value="dispenser" class="validate[minCheckbox[1]]">
                    <label class="checkbox inline" for="new_product_check_dispenser"><span></span>Dispenser</label>
                </div>    
            </div>
            <div class="formRow">
                <h5>Max Requisições</h5>
                <table >
                    <thead>
                        <tr>
                            <th>Mensal</th>
                            <th>Especial</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="number" id="new_product_mrm" value="5" class="input-mini validate[required]"></td>
                            <td><input type="number" id="new_product_mrw" value="5" class="input-mini validate[required]"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="formRow" id="new_product_color_div" style="display:none">
                <table class="table table-bordered table-mod">
                    <thead>
                        <tr>
                            <th>
                                Cor
                            </th>
                            <th>
                                Nome

                            </th>
                        </tr>
                    </thead>
                    <tbody id="new_product_table_tbody_color">
                    </tbody>
                </table>
                <div class="formRow pull-right">
                    <button class="btn btn-primary" id="new_product_button_color_add_line"><span class="icon-plus"></span>Adicionar Cor</button>
                </div>
            </div>



        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" id="sair_button" aria-hidden="true">Sair</button>
        <button id="new_product_create_button" class="btn btn-primary">Criar</button>
    </div>
</div>





<!--REMOVER PRODUTO-->
<div id="remove_product_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Script Modal" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Eliminar produto</h3>
    </div>
    <div class="modal-body">
        <p>Tem a certeza que deseja eliminar o produto?</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
        <button class="btn btn-primary" id="remove_product_button">Sim, eliminar</button>
    </div>
</div>



<!--REMOVER ALL PRODUTOS-->
<div id="removeAll_product_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Script Modal" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Eliminar produto</h3>
    </div>
    <div class="modal-body">
        <p>Tem a certeza que deseja eliminar todos os produto?</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
        <button class="btn btn-primary" id="removeAll_product_button">Sim, eliminar todos os produtos</button>
    </div>
</div>






<div  style="display:none">
    <select id="colour_picker">
        <option value="ffffff" >#ffffff</option>
        <option value="ffccc9">#ffccc9</option>
        <option value="ffce93">#ffce93</option>
        <option value="fffc9e">#fffc9e</option>
        <option value="ffffc7">#ffffc7</option>
        <option value="9aff99">#9aff99</option>
        <option value="96fffb">#96fffb</option>
        <option value="cdffff">#cdffff</option>
        <option value="cbcefb">#cbcefb</option>
        <option value="cfcfcf">#cfcfcf</option>
        <option value="fd6864">#fd6864</option>
        <option value="fe996b">#fe996b</option>
        <option value="fffe65">#fffe65</option>
        <option value="fcff2f">#fcff2f</option>
        <option value="67fd9a">#67fd9a</option>
        <option value="38fff8">#38fff8</option>
        <option value="68fdff">#68fdff</option>
        <option value="9698ed">#9698ed</option>
        <option value="c0c0c0">#c0c0c0</option>
        <option value="fe0000">#fe0000</option>
        <option value="f8a102">#f8a102</option>
        <option value="ffcc67">#ffcc67</option>
        <option value="f8ff00">#f8ff00</option>
        <option value="34ff34">#34ff34</option>
        <option value="68cbd0">#68cbd0</option>
        <option value="34cdf9">#34cdf9</option>
        <option value="6665cd">#6665cd</option>
        <option value="9b9b9b">#9b9b9b</option>
        <option value="cb0000">#cb0000</option>
        <option value="f56b00" selected>#f56b00</option>
        <option value="ffcb2f">#ffcb2f</option>
        <option value="ffc702">#ffc702</option>
        <option value="32cb00">#32cb00</option>
        <option value="00d2cb">#00d2cb</option>
        <option value="3166ff">#3166ff</option>
        <option value="6434fc">#6434fc</option>
        <option value="656565">#656565</option>
        <option value="9a0000">#9a0000</option>
        <option value="ce6301">#ce6301</option>
        <option value="cd9934">#cd9934</option>
        <option value="999903">#999903</option>
        <option value="009901">#009901</option>
        <option value="329a9d">#329a9d</option>
        <option value="3531ff">#3531ff</option>
        <option value="6200c9">#6200c9</option>
        <option value="343434">#343434</option>
        <option value="680100">#680100</option>
        <option value="963400">#963400</option>
        <option value="986536">#986536</option>
        <option value="646809">#646809</option>
        <option value="036400">#036400</option>
        <option value="34696d">#34696d</option>
        <option value="00009b">#00009b</option>
        <option value="303498">#303498</option>
        <option value="000000">#000000</option>
        <option value="330001">#330001</option>
        <option value="643403">#643403</option>
        <option value="663234">#663234</option>
        <option value="343300">#343300</option>
        <option value="013300">#013300</option>
        <option value="003532">#003532</option>
        <option value="010066">#010066</option>
        <option value="340096">#340096</option>
    </select>
</div>