.r_info{
    position:relative;
    margin-left: 12px;
}
.imessage{
    position:relative;
}
.menu-sidebar .disabled a{
    opacity:0.5 !important;
}
.menu-sidebar .disabled:hover a{
    opacity:0.5 !important;
    color:#e0e0de !important;
    text-shadow: none !important;
}
table.dataTable tbody tr.selected {
    background-color:rgba(153, 51, 0, 0.54);
}

#note_selection_div .dataTables_filter{
    width: 100% !important;
}