<form id="apoio_am_form">
    <fieldset title="Info Básica">
        <legend>Informação hoŕarios e local</legend>
        <div class="row-fluid">
            <div class="span6"> <div class="formRow">
                    <span>Data do Rastreio</span>
                    <div class="formRight">
                        <input size="16" type="text" class="form_datetime_day validate[required]" readonly id="data_rastreio" placeholder="Data de Rastreio">
                    </div>
                </div>
                <div class="formRow">
                    <span>Horário da Manhã</span>
                    <div class="formRight">
                        <input size="16" type="text" class="form_datetime_hour validate[required]" readonly id="data_inicio1" placeholder="Hora inicio do rastreio">
                    </div>    
                    <div class="formRight">
                        <input size="16" type="text" class="form_datetime_hour validate[required]" readonly id="data_inicio2" placeholder="">
                    </div>
                </div>
                <div class="formRow">
                    <span>Horário da Tarde</span>
                    <div class="formRight">
                        <input size="16" type="text" class="form_datetime_hour validate[required]" readonly id="data_fim1" placeholder="">
                    </div>    
                    <div class="formRight">
                        <input size="16" type="text" class="form_datetime_hour validate[required]" readonly id="data_fim2" placeholder="Hora fim do rastreio">
                    </div>
                </div>
            </div>
            <div class="span6">
                <div class="formRow">
                    <span>Localidade</span>
                    <div class="formRight">
                        <input type="text"  id="localidade" class="validate[required]"  >
                    </div>    
                </div>
                <div class="formRow">
                    <span>Local de rastreio</span>
                    <div class="formRight">
                        <input type="text"  id="local_rastreio"  class="validate[required]" >
                    </div>    
                </div>
                <div class="formRow">
                    <span>Morada de rastreio</span>
                    <div class="formRight">
                        <input type="text"  id="morada_rastreio" class="validate[required]"  >
                    </div>    
                </div>
                <div class="formRow">
                    <span>Observações</span>
                    <div class="formRight">
                        <textarea   id="observaçoes"  ></textarea>
                    </div>    
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </fieldset>
    <fieldset title="Códigos Postais e Freguesias">
        <legend>Locais para Distribuição de Publicidade</legend>
        <div class="row-fluid">
            <div class="span6">
                <table class="table table-bordered table-mod">
                    <thead>
                        <tr>
                            <th>
                                Código Postal
                            </th>
                            <th>
                                Nome da Freguesia

                            </th>
                            <th>
                                <button class="btn btn-primary" id="button_ldptable_add_line"><span class="icon-plus"></span></button>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="table_tbody_ldp">
                        <tr><td><input name="ldp_cp1" class="validate[required]"></td><td><input name="ldp_freg1" class="validate[required]"></td><td>   <button class="btn btn-danger button_ldptable_remove_line" ><span class="icon-minus"></span></button></td></tr>
                    </tbody>
                </table>
            </div>
        </div>
       
        <button class="btn right btn-primary" id="submit_am" >Criar Pedido</button>
    </fieldset>
</form>