<!--Ver horarios / Request-->
<style>
    #ver_horario_modal .modal-body th,#ver_horario_modal .modal-body td {
        text-align: center;   
    }
</style>
<div id="ver_horario_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true"   >
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Horario do Rastreio</h3>
    </div>
    <div class="modal-body"  >
        <div id="horario_manha" class="horario_all_master">
            <h3>Manha</h3>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Começo</th>
                        <th>Fim</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td id="manha_inicio"></td>
                        <td id="manha_fim"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="horario_tarde" class="horario_all_master">
            <h3>Tarde</h3>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Começo</th>
                        <th>Fim</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td id="tarde_inicio"></td>
                        <td id="tarde_fim"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Sair</button>
    </div>
</div>

<!--Ver Locais de publicidade-->
<div id="ver_local_publicidade_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true"  >
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Locais de Distribuição de Publicidade</h3>
    </div>
    <table class="table table-mod table-striped">
        <thead>
            <tr>
                <th>Código postal</th>
                <th>Freguesia</th>
            </tr>
        </thead>
        <tbody id="tbody_ver_local_publicidade">
        </tbody>
    </table>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Sair</button>
    </div>
</div>