  <!--Ver horarios / Request-->
    <div id="ver_horario_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true"   >
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Horario do Rastreio</h3>
        </div>
        <div class="modal-body"  >
            <div class="formRow">
                <span>Horario Inicio</span>
                <div class="formRight">
                    <span id="inicio1"></span>
                </div> 
                
                <div class="formRight">
                    <span id="inicio2"></span>
                </div> 
            </div>
            <div class="formRow">
               
                <div class="formRight">
                    <span id="fim1"></span>
                </div> 

                <span>Horario Fim</span>
                <div class="formRight">
                    <span id="fim2"></span>
                </div> 
            </div>  
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Sair</button>
        </div>
    </div>

  <!--Ver Locais de publicidade-->
    <div id="ver_local_publicidade_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true"  >
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Locais de Distribuição de Publicidade</h3>
        </div>
        <div class="modal-body" >
            <table class="table table-mod table-bordered">
                <thead>
                    <tr>
                        <th>
                            Código postal
                        </th>
                        <th>
                            Freguesia
                        </th>
                    </tr>
                </thead>
                <tbody id="tbody_ver_local_publicidade">
                    
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Sair</button>
        </div>
    </div>