<form id="relatorio_correio_form">
    <div class="grid-title">
        <div class="pull-left">Relatório de Correio </div>
    </div>
    <div class="grid-content">
        <div class="row-fluid">
            <div class="span5"> 
                <div class="formRow">
                    <span>Carta de Porte Nº</span>
                    <div class="formRight">
                        <input type="text" id="input_carta_porte" name="carta_porte" class="validate[required,custom[onlyNumberSp]]">
                    </div>
                </div>  

                <div class="formRow">
                    <span>Data de Envio</span>
                    <div class="formRight">
                        <input size="16" type="text" name="data_envio" class="form_datetime validate[required]" readonly id="data_envio_datetime" placeholder="Data de Envio">
                    </div>
                </div>

                <div class="formRow">
                    <span>Doc. nº</span>
                    <div class="formRight">
                        <input type="text" id="input_doc" name="doc" class="validate[required,custom[onlyNumberSp]]">
                    </div>
                </div>   
                <div class="formRow">
                    <span>Ref.ª do Cliente</span>
                    <div class="formRight">
                        <input type="text" id="input_lead_id" name="lead_id" class="validate[required,custom[onlyNumberSp]]">
                    </div>
                </div>   
            </div>
            <div class="span7">
                <div class="formRow">
                    <span>Docs e Objectos Associados</span>
                    <div class="formRight">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        Documento/Objecto
                                    </th>
                                    <th>
                                        Opção
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="doc_obj_table_tbody">
                                <tr>
                                    <td><input  class='input-xlarge validate[required]' type='text' /></td>
                                    <td><button class="btn btn-danger remove_doc_obj"><i class="icon icon-minus"></i></button></td>
                                </tr>
                            </tbody>

                        </table>
                        <div class="formRow pull-right">
                            <button class="btn btn-primary" id="add_line_obj_doc"><i class="icon-plus"></i>Adicionar Documento/Objecto</button>
                        </div>



                    </div>
                </div>
                <div class="formRow">
                    <span>Observações</span>
                    <div class="formRight">
                        <textarea name="obs" id="input_comments" class="validate[required]">Sem Observações</textarea>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <button class="btn btn-primary right" id="submit_rc"> Enviar</button>
        </div>
    </div>
</form>