<style>
    .admin_label_info    {
        padding:10px;
        background-color: #fcf8e3;
        box-shadow: 4px 4px 14px -5px #888888;
    }
</style>
<div id="ver_anexo_mensal_stock_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true"  >
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Info de Produtos</h3>
    </div>
    <table class="table table-mod table-striped">
        <thead>
            <tr>
                <th class="chex-table"></th>
                <th>Quantidade</th>
                <th>Descrição</th>
                <th>Série</th>
                <th>Observ.</th>
            </tr>
        </thead>
        <tbody id="tbody_ver_produto_mensal_stock">

        </tbody>
    </table>
     
    <div class="modal-footer " id="stock_modal_div">
        <form style="display:none" id="add_stock_div">
            <div class="formRow">
                <span>Quantidade</span>
                <div class="formRight">
                    <input placeholder="Quantidade de produtos" id="add_stock_quantidade" class="validate[required,custom[onlyNumberSp]]"/>
                </div>    
            </div>
            <div class="formRow">
                <span>Descrição</span>
                <div class="formRight">
                    <input placeholder="Descrição do produto" id="add_stock_descricao" class="validate[required]"/>
                </div>    
            </div>
            <div class="formRow">
                <span>Série</span>
                <div class="formRight">
                    <input placeholder="Nº de Série" id="add_stock_serie" class="validate[required]"/>
                </div>    
            </div>
            <div class="formRow">
                <span>Observação</span>
                <div class="formRight">
                    <textarea placeholder="Observações" id="add_stock_obs"></textarea>
                </div>    
            </div>
            <div class="formRow">
                <button class="btn add_stock_button" id="add_stock_no_button">Cancelar</button>
                <button class="btn btn-primary add_stock_button" id="add_stock_yes_button">Adicionar</button>
            </div>
        </form>
             <span id="stock_modal_correio_warning" class="admin_label_info left ">* Contactos adicionados pelo admin</span>
        <button class="btn stock_menu_button" id="stock_add_button">Adicionar Produto</button>
        <button class="btn btn-success stock_menu_button" id="stock_save_button" data-dismiss="modal" aria-hidden="true">Gravar</button>
    </div>
</div>