<form id="relatorio_frota_form">
    <div class="grid-title">
        <div class="pull-left">Relatório de Frota </div>
    </div>
    <div class="grid-content">
        <div class="row-fluid">
            <div class="span4"> 
                <div class="formRow">
                    <span>Data</span>
                    <div class="formRight">
                        <input size="16" type="text" name="data" class="form_datetime validate[required] input-small" readonly id="input_data"  placeholder="Data">
                    </div>
                </div>
                <div class="formRow">
                    <span>Matricula</span>
                    <div class="formRight">
                        <input   type="text" id="input_matricula" name="matricula" class="validate[required,custom[matricula]]" maxlength="6" >
                    </div>
                </div>
                <div class="formRow">
                    <span>Kms</span>
                    <div class="formRight">
                        <div class="input-append">
                            <input type="text" id="input_km" name="Kms" class="validate[required,custom[onlyNumberSp]] text-right input-small " maxlength="6" ><span class="add-on">km</span>
                        </div>
                    </div>
                </div>

                <div class="formRow">
                    <span>Viatura</span>
                    <div class="formRight">
                        <input  type="radio" value="definitiva" id="radio_def" name="rrf" checked="checked">
                        <label class="radio inline"  for="radio_def"><span></span>Definitiva</label> 
                        <input  type="radio" value="rent_a_car" id="radio_rac" name="rrf">
                        <label class="radio inline"  for="radio_rac"><span></span>Rent-A-Car</label> 
                    </div>
                </div>

            </div>
            <div class="span8"> 
                <table class="table table-bordered table-mod" id="table_ocorrencias">
                    <thead>
                        <tr>
                            <th style="width: 90px">Data</th>
                            <th>Ocorrência</th>
                            <th style="width: 70px;">Kms</th>
                            <th style="width: 30px;">
                                <button class="btn btn-primary icon-alone" id="button_rf_table_add_line"><i class="icon-plus"></i></button>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="table_tbody_rf">
                    </tbody>
                </table>
                <div class="formRow">
                    <span>Observações</span>
                    <div class="formRight">
                        <textarea id="input_comments" class="validate[required] span" name="obs" >Sem observações</textarea>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <button class="btn btn-primary right" id="submit_rf">Enviar</button>
        </div>
    </div>
</form>