<!--Ver ocorrencias frota-->
<div id="ver_occorrencia_frota_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Ocorrencias de relatorio de frota</h3>
    </div>
    <table class="table table-mod ">
        <thead>
            <tr>
                <th>Data</th>
                <th>Km</th>
                <th>Ocorrência</th>
            </tr>
        </thead>
        <tbody id="ver_occorrencia_frota_tbody">

        </tbody>
    </table>
    <div class="modal-footer">
        <button class="btn btn-success" data-dismiss="modal" aria-hidden="true">Sair</button>
    </div>
</div>