

<div id="ver_anexo_correio_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Script Modal" aria-hidden="true"  >
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Anexos</h3>
    </div>
    <div class="modal-body" >
        <table class="table table-mod table-bordered">
            <thead>
                <tr>

                    <th>
                        Anexo
                    </th>
                </tr>
            </thead>
            <tbody id="tbody_ver_anexo_correio">

            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Sair</button>
    </div>
</div>

