<div id="ver_anexo_mov_stock_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true"  >
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Info de Produtos</h3>
    </div>
    <table class="table table-mod table-striped">
        <thead>
            <tr>
                <th class="chex-table"></th>
                <th>Destinatário</th>
                <th>Quantidade</th>
                <th>Descrição</th>
                <th>Série</th>
                <th>Observ.</th>
            </tr>
        </thead>
        <tbody id="tbody_ver_produto_movimentacao_stock">

        </tbody>
    </table>
    <div class="modal-footer">
        <button class="btn btn-success stock_mov_exit_button" data-dismiss="modal" aria-hidden="true">Gravar</button>
    </div>
</div>