<div id="ver_anexo_correio_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true"  >
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Info de Anexos</h3>
    </div>
        <table class="table table-mod table-striped">
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Anexo
                    </th>
                    <th>
                        Documento
                    </th>
                    <th>
                        Ref.Cliente
                    </th>
                </tr>
            </thead>
            <tbody id="tbody_ver_anexo_correio">

            </tbody>
        </table>
    <div class="modal-footer">
        <button class="btn btn-success anexo_exit_button" data-dismiss="modal" aria-hidden="true">Gravar</button>
    </div>
</div>