<style>
    .admin_label_info    {
        padding:10px;
        background-color: #fcf8e3;
        box-shadow: 4px 4px 14px -5px #888888;
    }
</style>
<div id="ver_anexo_correio_modal" class="modal hide fade container" tabindex="-1" role="dialog" aria-hidden="true"  >
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Info de Anexos</h3>
    </div>
    <table class="table table-mod ">
        <thead>
            <tr>
                <th >
                    #
                </th>
                <th >
                    Anexo
                </th>
                <th style="width: 100px;">
                    Documento
                </th>
                <th style="width: 43px;">
                    Ref.Cliente
                </th>
            </tr>
        </thead>
        <tbody id="tbody_ver_anexo_correio">
        </tbody>
    </table>
 

    <div class="modal-footer " id="correio_modal_div">
        <form style="display:none" id="add_anexo_div">
            <div class="formRow">
                <span>Anexo</span>
                <div class="formRight">
                    <input placeholder="Nome do Anexo" id="add_anexo_ficheiro" class="validate[required]"/>
                </div>    
            </div>
            <div class="formRow">
                <span>Documento</span>
                <div class="formRight">
                    <input placeholder="Nº de Documento" id="add_anexo_documento" class="validate[required]"/>
                </div>    
            </div>
            <div class="formRow">
                <span>Ref. Cliente</span>
                <div class="formRight">
                    <input placeholder="Ref. Cliente" id="add_anexo_lead_id" class="validate[required]"/>
                </div>    
            </div>
            <div class="formRow">
                <button class="btn add_anexo_button" id="add_anexo_no_button">Cancelar</button>
                <button class="btn btn-primary add_anexo_button" id="add_anexo_yes_button">Adicionar</button>
            </div>
        </form>
          <span id="anexo_modal_correio_warning" class="admin_label_info left ">* Contactos adicionados pelo admin</span>
        <button class="btn anexo_menu_button" id="anexo_add_button">Adicionar Documento</button>
        <button class="btn btn-success anexo_menu_button" id="anexo_save_button" data-dismiss="modal" aria-hidden="true">Gravar</button>
    </div>
</div>