	.header {
		background: #f8ca59; /* Old browsers */
		background: -moz-linear-gradient(top, #f8ca59 0%, #f7c344 7%, #eb982a 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8ca59), color-stop(7%,#f7c344), color-stop(100%,#eb982a)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #f8ca59 0%,#f7c344 7%,#eb982a 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #f8ca59 0%,#f7c344 7%,#eb982a 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #f8ca59 0%,#f7c344 7%,#eb982a 100%); /* IE10+ */
		background: linear-gradient(to bottom, #f8ca59 0%,#f7c344 7%,#eb982a 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8ca59', endColorstr='#eb982a',GradientType=0 ); /* IE6-9 */
		border-bottom:1px solid #bf720f;	
	}
	.btn-group.open .btn-profile.btn.dropdown-toggle {
		background: #e8982c; /* Old browsers */
		background: -moz-linear-gradient(top, #e8982c 0%, #f7c344 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8982c), color-stop(100%,#f7c344)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #e8982c 0%,#f7c344 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #e8982c 0%,#f7c344 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #e8982c 0%,#f7c344 100%); /* IE10+ */
		background: linear-gradient(to bottom, #e8982c 0%,#f7c344 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8982c', endColorstr='#f7c344',GradientType=0 ); /* IE6-9 */
		border:1px solid #bf720f;
	}
	.speedbar {
		background: #e7972b; /* Old browsers */
		background: -moz-linear-gradient(top, #e7972b 0%, #fccb53 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e7972b), color-stop(100%,#fccb53)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #e7972b 0%,#fccb53 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #e7972b 0%,#fccb53 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #e7972b 0%,#fccb53 100%); /* IE10+ */
		background: linear-gradient(to bottom, #e7972b 0%,#fccb53 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7972b', endColorstr='#fccb53',GradientType=0 ); /* IE6-9 */
		border-bottom:1px solid #bf720f;
	}
	.notifications-head a.dropdown-toggle .caret, .item_m .caret, a.btn-profile .caret {
		border-top: 4px solid #bf720f;
	}
	.menu-sidebar li a {
		color:#e0e0de;
	}
	.menu-speedbar li a:hover,.menu-speedbar li a.act_link {
		border:1px solid #bf720f;
		background: #f7c344; /* Old browsers */
		background: -moz-linear-gradient(top, #f7c344 0%, #eb982b 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7c344), color-stop(100%,#eb982b)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #f7c344 0%,#eb982b 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #f7c344 0%,#eb982b 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #f7c344 0%,#eb982b 100%); /* IE10+ */
		background: linear-gradient(to bottom, #f7c344 0%,#eb982b 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7c344', endColorstr='#eb982b',GradientType=0 ); /* IE6-9 */
	}
	.notifications-head .btn-group.open .dropdown-toggle {
		background-image:url(../../images/colors/orange/active.png);
	}
	.ichat {
		background:#eb972a;
		border:1px solid #bf720f;
	}
	.triangle-2 {
		background-image:url(../../images/colors/orange/triangle2.png);
	}
	.dropdown-menu .r_link a {
		color:#eb972a;
	}
	html, body, #sidebar, #content {
		background-image:url(../../images/colors/bg_sidebar.png);
		background-repeat: repeat-y;
	}
	.menu-sidebar li a.active, .menu-sidebar li:hover a {
		text-shadow: 0px 0px 20px #eb972a;
		-webkit-transition:color 200ms ease-in;
		-moz-transition:color 200ms ease-in;
		-o-transition:color 200ms ease-in;
		transition:color 200ms ease-in;
		color:#eb972a;
	}
	textarea:focus,
	input[type="text"]:focus,
	input[type="password"]:focus,
	input[type="datetime"]:focus,
	input[type="datetime-local"]:focus,
	input[type="date"]:focus,
	input[type="month"]:focus,
	input[type="time"]:focus,
	input[type="week"]:focus,
	input[type="number"]:focus,
	input[type="email"]:focus,
	input[type="url"]:focus,
	input[type="search"]:focus,
	input[type="tel"]:focus,
	input[type="color"]:focus,
	.uneditable-input:focus,
	form.search-form input,
	.avatar {
	  border-color: rgba(191,114,15, 0.8);
	}
	.notification {
		background: #aeaeae; /* Old browsers */
		background: -moz-linear-gradient(top, #aeaeae 0%, #676765 7%, #363634 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#aeaeae), color-stop(7%,#676765), color-stop(100%,#363634)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #aeaeae 0%,#676765 7%,#363634 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #aeaeae 0%,#676765 7%,#363634 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #aeaeae 0%,#676765 7%,#363634 100%); /* IE10+ */
		background: linear-gradient(to bottom, #aeaeae 0%,#676765 7%,#363634 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aeaeae', endColorstr='#363634',GradientType=0 ); /* IE6-9 */
		color:#fff;
		border-color:#2e2e2e;
	}
	.triangle-1 {
		background:url(../../images/colors/triangle.png);
		background-size: 5px 8px;
	}
	.dropdown-menu a.iview {
		border-right:1px solid #bf720f;
	}
	.ichat-messages {
		border:1px solid #bf720f;
	}
	.notifications-head .dropdown-toggle [class^="icon-"]::before, .notifications-head .dropdown-toggle [class*=" icon-"]::before {
		text-shadow: 0px 3px 7px rgba(191,114,15, 0.55);
	}
	@media (max-width: 520px) {
	  #sidebar { display:none;}
	  #content, html, body { padding-left:0; background:none #f9f9f9; }
	}