<link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap-fileupload.min.css" />
<style>
    .chosen-container
    {
        width:225px!important;
    }
</style>
<div id="admin_extra_zone">

</div>
<div id="admin_zone">

    <!--EDIçÃO DE PRODUTOS-->
    <div id="edit_product_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Script Modal" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Gestão de produto</h3>
        </div>
        <div class="modal-body">
            <div id="edit_product_div">

            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Sair</button>

        </div>
    </div>

    <!--CRIAR DE PRODUTOS-->
    <div id="create_product_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Script Modal" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Criação de produto</h3>
        </div>
        <div class="modal-body">

            <div id="create_product_div"></div>




        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Sair</button>

        </div>
    </div>



    <!--REMOVER PRODUTO-->
    <div id="remove_product_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Script Modal" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Eliminar produto</h3>
        </div>
        <div class="modal-body">
            <p>Tem a certeza que deseja eliminar o produto?</p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
            <button class="btn btn-primary" id="remove_product_button">Sim, eliminar</button>
        </div>
    </div>



    <!--REMOVER ALL PRODUTOS-->
    <div id="removeAll_product_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Script Modal" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Eliminar produto</h3>
        </div>
        <div class="modal-body">
            <p>Tem a certeza que deseja eliminar todos os produto?</p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
            <button class="btn btn-primary" id="removeAll_product_button">Sim, eliminar todos os produtos</button>
        </div>
    </div>

    
    <!--Transferir marcações de um agente para outro-->
    <div id="agent_marc_transfer_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Script Modal" aria-hidden="true" style="overflow:visible" >
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Transferir marcações</h3>
        </div>
        <div class="modal-body" style="overflow:visible">
            <div class="formRow">
                <span>Transferir marcações do agente:</span>
                <div class="formRight">
                    <select class="chosen-select" id="select_agent_transfer1" data-placeholder="Selecione um agente"></select>
                </div>  
            </div> 
            <div class="formRow">
                <span>Para o agente:</span>
                <div class="formRight">
                    <select class="chosen-select" id="select_agent_transfer2" data-placeholder="Selecione um agente"></select>
                </div>  
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
            <button class="btn btn-primary" id="confirm_marc_transfer_button">Transferir</button>
        </div>
    </div>


    <div class="row-fluid">
        <div class="span4 grid">
            <div class="grid-title">
                <div class="pull-left">
                    <h4>Gestão de Agentes</h4>
                </div>
            </div>
            <div class="grid-content div_admin_edit"  id="agent_master_div"  >
                <button class="btn" id="agent_marc_transfer_button">Transfencias de marcações de um calendario para outro (sem verificação)</button>
            </div>
        </div>
        <div class="span4 grid">
            <div class="grid-title">
                <div class="pull-left">
                    <h4>Gestão de Clientes</h4>
                </div>
            </div>
            <div class="grid-content div_admin_edit"  id="client_master_div" >
                <div class="formRow">
                    <button class="btn" id="download_csm_button">Download de dados de clientes sem marcação</button>
                </div>
                <div id="download_csm_div" style="display:none">
                    <form id="date_form">
                        <input size="16" type="text" class="form_datetime validate[required]" id="data_inicio" placeholder="Data de Inicio">
                        <input size="16" type="text" class="form_datetime validate[required]" id="data_fim" placeholder="Data de Fim">
                    </form>
                    <button class="btn btn-primary" id="download_excel_csm_button">Download</button>
                </div>
            </div>
        </div>
        <div class="span4 grid">
            <div class="grid-title">
                <div class="pull-left">
                    <h4>Gestão de Anexos</h4>
                </div>
            </div>
            <div class="grid-content div_admin_edit" id="anexo_master_div"  >
                <div class="formRow">
                    <div class="input-append">
                        <select id="select_uploaded_files" ></select>
                        <button class="btn-danger btn icon-alone" id="remove_uploaded_file"><i class="icon-remove"></i></button>
                    </div>
                </div>
                <div class="formRow">
                    <form enctype="multipart/form-data" action="" method="POST" id="anexo_input_form">
                        <div class="fileupload fileupload-new" data-provides="fileupload">
                            <div class="input-append">
                                <div class="uneditable-input"><i class="icon-file fileupload-exists"></i> <span class="fileupload-preview"></span></div><span class="btn btn-file"><span class="fileupload-new">Escolha um ficheiro</span><span class="fileupload-exists">Alterar</span><input type="file" name="file_upload_all" id="file_upload" /></span><a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remover</a>
                            </div>
                        </div>
                    </form>
                    <button class="btn" id="anexo_upload_button"  >upload</button>
                    <div class="formRight">
                        <strong class="inline" id="label_anexo_info" >   </strong>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="row-fluid">
        <div class="span12 grid">
            <div class="grid-title">
                <div class="pull-left">
                    <h4>Gestão de Produtos</h4>
                </div>
            </div>
            <div class="grid-content div_admin_edit" id="product_master_div" >
                <div class="span3"> 
                    <div class="grid-title">
                        <div class="pull-left">
                            <h4>Opções gerais</h4>
                        </div>
                    </div>
                    <div class="grid-content"  >
                        <button class="btn" id="create_product_modal_button">Criar novo Produto</button>
                        <button class="btn" id="removeAll_product_modal_button">Apagar todos os Produtos</button>
                    </div>
                </div>
                <div class="span9">
                    <div class="grid-title">
                        <div class="pull-left">
                            <h4>Produtos</h4>
                        </div>
                    </div>
                    <div class="grid-content"  >
                        <table class="table table-bordered table-mod" id="view_product_datatable"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12 grid">
            <div class="grid-title">
                <div class="pull-left">
                    <h4>Gestão de Encomendas</h4>
                </div>
            </div>
            <div class="grid-content div_admin_edit" id="requisition_master_div"  >
                <table class="table table-bordered table-mod" id="view_requisition_datatable"></table>
            </div>
        </div>
    </div>


    <div class="row-fluid">
        <div class="span12 grid">
            <div class="grid-title">
                <div class="pull-left">
                    <h4>Gestão de Pedidos</h4>
                </div>
            </div>
            <div class="grid-content div_admin_edit" id="pedidos_master_div" >
                <!--APOIO MARKETING-->
                <div class="row-fluid">
                    <div class="span12">
                        <div class="grid-title">
                            <div class="pull-left">
                                <h5>Gestão de Pedido apoio Marketing</h5>
                            </div>
                    
                        </div>
                        <div class="grid-content div_admin_edit" id="pedidos_apoio_marketing_master_div"  >
                            <table class="table table-bordered table-mod" id="pedidos_apoio_marketing_datatable"></table>
                        </div>
                    </div>
                </div>
                <!--relatorio correio-->
                <div class="row-fluid">
                    <div class="span12">
                        <div class="grid-title">
                            <div class="pull-left">
                                <h5>Gestão de Pedidos de correio</h5>
                            </div>
                        </div>
                        <div class="grid-content div_admin_edit" id="pedidos_correio_master_div" >
                            <table class="table table-bordered table-mod" id="pedidos_correio_datatable"></table>
                        </div>
                    </div>
                </div>
                <!--relatorio Frota-->
                <div class="row-fluid">
                    <div class="span12">
                        <div class="grid-title">
                            <div class="pull-left">
                                <h5>Gestão de Pedido de Frota</h5>
                            </div>
                        </div>
                        <div class="grid-content div_admin_edit" id="pedidos_frota_master_div"  >
                            <table class="table table-bordered table-mod" id="pedidos_frota_datatable"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>
<script type="text/javascript" src="/bootstrap/js/bootstrap-fileupload.min.js"></script>
<script type="text/javascript" src="/AM/lib_js/requisition.js" ></script>
<script type="text/javascript" src="/AM/lib_js/product.js" ></script>
<script type="text/javascript" src="/AM/lib_js/requests_class.js" ></script>
<script type="text/javascript" src="js/admin.js?v=1"></script>
