    <div class="row-fluid">
        <div class="span6">
            <div class="formRow">
                <label class="label">Nome</label>
                <div class="formRight">
                    <span id="client_name"></span>
                </div>
            </div>
            <div class="formRow">
                <label class="label">Morada</label>
                <div class="formRight">
                    <span id="client_address"></span>
                </div>
            </div>
            <div class="formRow">
                <label class="label">Data Nascimento</label>
                <div class="formRight">
                    <span id="client_birthDate"></span>
                </div>
            </div>
        </div>








        <div class="span6">
            <div class="formRow">
                <label class="label">ID</label>
                <div class="formRight">
                    <span id="client_lead_id"></span>
                </div>
            </div>
            <div class="formRow">
                <label class="label">Codigo-postal</label>
                <div class="formRight">
                    <span id="client_postalCode"></span>
                </div>
            </div>

        </div>
    </div>


