<style>
    .tableradio_class table td:nth-child(1){width: 260px;}
    .tableradio_class table td:nth-child(2){width: 90px;}
</style>
<div id="main_consulta_div">
    <div id="encomenda_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true" >
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Encomenda</h3>
        </div>
        <div class="modal-body"  >
            Deseja criar uma nova encomenda ou marcação para este cliente?
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" id="new_request_button" data-dismiss="modal" aria-hidden="true">Encomenda</button>
            <button class="btn btn-success new_marcacao_button" data-dismiss="modal" aria-hidden="true">Marcação</button>
            <button class="btn" data-dismiss="modal" onclick=" $.history.push('view/dashboard.html');" aria-hidden="true">Não</button>
        </div>
    </div>

    <div id="marcacao_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true" >
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Marcação</h3>
        </div>
        <div class="modal-body"  >
            Deseja criar uma nova marcação de consulta para este cliente?
        </div>
        <div class="modal-footer">
            <button class="btn btn-success new_marcacao_button" data-dismiss="modal" aria-hidden="true">Sim</button>
            <button class="btn" data-dismiss="modal" onclick=" $.history.push('view/dashboard.html');" aria-hidden="true">Não</button>
        </div>
    </div>


    <div class="row-fluid">

        <div class="span2">
            <div class="row-fluid">
                <div class="grid" >
                    <div class="grid-title"><div class="pull-left">Cliente</div><div class="pull-right"><button onclick="history.back();" title="Voltar" class="btn icon-alone"><i class="icon-circle-arrow-left"></i></button></div></div>
                    <div class="user c_bg-2">
                        <div class="user-name" style="height:auto;  " id="client_name"></div>
                        <div class="user-email" id="client_address"></div>
                        <div class="user-date" id="client_birth_date"></div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="grid " id="options_div" style="position:fixed;bottom: 10px; width:13.529915%; display:none">
                    <div class="grid-title">
                        <div class="pull-left"><i class="icon-cogs"></i> Opções</div>
                    </div>
                    <div class="grid-content">
                        <div class="formRow" id="validate_audio_script_div" style="display:none">
                            <button class="btn  " id="validate_audio_script" ><i class="icon-save"></i>Validar e concluir</button>
                        </div>
                        <div class="formRow " id="terminar_consulta_div" style="display:none">
                            <button class='btn btn-success  ' id='terminar_consulta' >Terminar Consulta</button>
                        </div>
                        <div class="formRow " id="terminar_consulta_no_exame_div" style="display:none">
                            <button class='btn btn-danger ' id='terminar_consulta_no_exame' >Terminar Consulta sem Exame</button>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>  
        </div>
        <div class="span10">
            <div class="row-fluid">
                <div id="first_info_div">
                    <div id="inicial_option_div" class="grid">
                        <div class="grid-title">
                            <div class="pull-left">Consulta com exame?</div>
                        </div>
                        <div class="grid-content">
                            <button class="btn btn-success" id="pa_yes">Sim</button>
                            <button class="btn btn-primary" id="pa_no">Não</button>
                            <div class="clear"></div>
                        </div>  
                    </div>
                    <div id="no_exam_div" class="grid" style="display:none">
                        <div class="grid-title">
                            <div class="grid-title">
                                <div class="pull-left">Não há exame</div>
                                <div class="pull-right">
                                    <button class='btn btn-info right' onclick="location.reload();" >Inicio</button>
                                </div>
                            </div>
                        </div>
                        <form id='no_exam_form'> 
                            <div class="formRow">
                                <input type="radio" id="ne_cera" name="ne" value="LIMP">
                                <label class="radio" for="ne_cera"><span></span>Cera</label>
                            </div>
                            <div class="formRow"> 
                                <input type="radio" id="ne_otorr" name="ne" value="OTOR">
                                <label class="radio" for="ne_otorr"><span></span>Otorrino</label>
                            </div> 
                            <div class="formRow">
                                <input type="radio" id="ne_assist" name="ne" value="SERV">
                                <label class="radio" for="ne_assist"><span></span>Assistência</label>
                            </div>
                            <div class="formRow">
                                <input type="radio" id="ne_inc" name="ne" value="INC">
                                <label class="radio" for="ne_inc"><span></span>Incapacitado</label>
                            </div>
                            <div class="formRow">
                                <input type="radio" id="ne_info" name="ne" value="PINF">
                                <label class="radio" for="ne_info"><span></span>Informação</label>
                            </div>
                            <div class="formRow">
                                <input type="radio" id="ne_amost" name="ne" value="AMOST">
                                <label class="radio" for="ne_amost"><span></span>Amostra</label>
                            </div>
                        </form>
                        <div class="clear"></div>
                    </div>
                </div>

                <div class="grid" id="script_main_div" style="display:none">
                    <div class="grid-title">
                        <div class="pull-left">
                            Questionário Clínico
                        </div>
                        <div class="pull-right"> <button class='btn btn-info right' onclick="location.reload();" >Inicio</button></div> 
                    </div>
                    <div class="grid-content">
                        <div  id="script_placeholder"  ></div>

                    </div>
                </div>

                <div class="grid" id="audiograma_main_div" style="display:none">
                    <div class="grid-title">
                        <div class="pull-left">
                            Audiograma
                        </div>
                    </div>
                    <div class="grid-content">
                        <div  id="audiograma_placeholder"  ></div>
                        <button class="btn btn-info" id="validate_audiograma_button"><i class="icon-table"></i>Calcular</button>

                    </div>
                </div>
            </div> 

            <div class="grid" id="exam_outcome_div" style="display:none">
                <div class="grid-title">
                    <div class="pull-left">
                        Resultado
                    </div>
                </div>
                <div class="grid-content">
                    <div class='formRow' id='venda_confirm_div'>
                        <span style='font-size:2em'>Venda:</span>
                        <div class='formRight'>
                            <input  type="radio" id="venda_yes" value="yes" name="vp_a">
                            <label class="radio inline"  for="venda_yes"><span></span>Sim</label>
                            <input  type="radio" id="venda_no" value="no" name="vp_a">
                            <label class="radio inline"  for="venda_no"><span></span>Não</label>
                        </div>
                    </div>
                    <div id="no_venda_div"  style="display:none">
                        <div class='formRow'>
                            <label>Razão</label>
                            <div class='formRight'>
                                <select id='no_venda_select'>
                                    <option value="PVP">Preço</option>
                                    <option value="FAM">Familiar</option>
                                    <option value="PAGU">Sem aproveitamento</option>
                                    <option value="CONC">Concorrência</option>
                                    <option value="PENS">Pensador</option>
                                    <option value="ESTET">Estética/Conforto</option>
                                    <option value="SPERD">Sem Perda</option>
                                </select>
                            </div>   
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript" src="/sips-admin/script_dinamico/render.js?v=1"></script>
<script type="text/javascript" src="js/consulta.js"></script>
<script type="text/javascript" src="lib_js/requisition.js"></script>

