<style>
    #iframe_parent {
        height: 60em;
    }

    #script_frame
    {
        background-color: transparent;
        border: 0px none transparent;
        padding: 0px;
        overflow: hidden;
        width:100%;
        height:100%;

    }
</style>
<div id="div_master">
    <div id="criar_marcacao" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Criar Marcação</h3>
        </div>
        <div class="modal-body">
            Deseja criar uma marcação para este novo cliente?
        </div>
        <div class="modal-footer" style="text-align: inherit !important;">
            <span class="right">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Fechar</button>

                <button class="btn btn-success" id="btn_criar_marcacao">Criar Marcação</button>
            </span>
        </div>
    </div>
    <div class="grid">
        <div class="grid-title">
            <div class="pull-left">Novo Cliente</div>
        </div>
        <div class="grid-content">
            <form id="form_create_client">
                <fieldset title="Info básica">
                    <legend>Informação essencial</legend>
                    <div id="inputs_div1" >
                    </div>  
                </fieldset>
                <fieldset title="Localização">
                    <legend>Informação de residência</legend>
                    <div id="inputs_div2" >
                    </div>  
                </fieldset>
                <fieldset title="Info Extra">
                    <legend>Informação extra</legend>
                    <div id="inputs_div3" >
                    </div>  
                    <button class="btn right btn-primary"  >Criar Cliente </button>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript" src="js/create_client.js"></script>