
<style>
      select,input[type="text"]
      {
            margin-bottom:0px;
      }
      .dataTables_paginate
      {
            float:none;
      }
      .modal{
          left:28%;
          width: auto;
      }
</style>



<!-- Modal -->
<div class="modal fade" id="crm_edit_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
            <div class="modal-content">
                  <div class="modal-header">
              
                        <h4 class="modal-title">Edição de info de Cliente</h4>
                  </div>
                  
                  <div class="modal-body">

                  </div>
                  <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" id="close_modal">Fechar</button>
                  </div>
            </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
</div><!-- /.modal -->





<div class="grid">

      <div class="grid-content">
            <div  id="div_filtros">
                  <div class="grid-title">
                        <div class="pull-left">
                              Filtros de Pesquisa
                        </div>
                        <div class="pull-right">
                              <button class="btn icon-chevron-up" id="button_filtro"></button>  
                        </div>
                  </div>
                  <div class="grid-content" id="div_filtro_content">
                        <div class="formRow">
                              <table>
                                    <thead>
                                    <th>
                                          Campanha
                                    </th>
                                    <th>
                                          Base de Dados
                                    </th>
                                    <th>
                                          Agente
                                    </th>
                                    <th>
                                          Feedback
                                    </th>
                                    </thead>
                                    <tbody>
                                          <tr>
                                                <td>
                                                      <select class="chosen-select filtro_select" id="select_campanha"  data-placeholder="Selecione uma campanha"></select>
                                                </td>
                                                <td>
                                                      <select class="chosen-select filtro_select" id="select_bd"  data-placeholder="Selecione uma Base de Dados"></select>
                                                </td>
                                                <td>
                                                      <select class="chosen-select filtro_select" id="select_agente"  data-placeholder="Selecione um Agente"></select>
                                                </td>
                                                <td>
                                                      <select class="chosen-select filtro_select" id="select_feedback"   data-placeholder="Selecione um Feedback"></select>
                                                </td>
                                          </tr>
                                    </tbody>
                              </table>
                        </div>


                        <table>
                              <thead>
                              <th>
                                    Campos Dinâmicos 
                              </th>
                              <th>
                                    Campos do Script
                              </th>
                              </thead>
                              <tbody>
                                    <tr>
                                          <td>
                                                <select class="chosen-select input-xlarge " id="select_cd"  data-placeholder="Selecione um Campo Dinamico"></select>
                                          </td>
                                          <td>
                                                <select class="chosen-select input-xxlarge" id="select_script"  data-placeholder="Selecione um Script"></select>
                                          </td>
                                    </tr>
                                    <tr>
                                          <td>
                                                <input size="16" type="text"  id="cd_input" class="cd_input_field" placeholder="Valor do campo dinâmico" >
                                                <button class="btn cd_input_field" id="button_tag_cd">Ok</button> 
                                          </td>
                                          <td>
                                                <input size="16" type="text" class="script_input_field"   id="script_input_text"  >
                                                <span class="script_input_field" id="span_script_input_select">
                                                      <select class="chosen-select input-xlarge script_input_field"   id="script_input_select">
                                                      </select></span>
                                                <button class="btn script_input_field" id="button_tag_script">Ok</button>
                                          </td>
                                    </tr>
                              </tbody>
                        </table>
                        <div  id="cd_tag_div"> </div>
                        <div id="script_tag_div"></div> 
                        <div class="formRow">
                              <h4>Data de Inicio e Fim</h4>     
                              <input type="checkbox" id="checkbox_alldate" name="cad" >
                              <label for="checkbox_alldate"><span></span>Sem limite de Data</label>
                               <div class="pull-right">
                                          <button class="btn btn-inverse" id="search_button">Pesquisar</button>    
                                    </div>
                              <div class="formRow">
                                  <form id="date_form">
                                      <input size="16" type="text" class="form_datetime validate[required]" id="data_inicio" placeholder="Data de Inicio">
                                    <input size="16" type="text" class="form_datetime validate[required]" id="data_fim" placeholder="Data de Fim">
                                  </form>
                                    
                                   
                              </div>
                        </div>

                  </div> 
            </div>
      </div>
</div>

<div class="grid">
      <div class="grid-title">
            <div class="pull-left">
                  Resultados
            </div>
      </div>
      <div class="grid-content">
            <table id="info_table" class="table table-mod-2 dataTable">

            </table>     
      </div>
</div>


<script type="text/javascript" src="js/crm_main.js"></script>
<script type="text/javascript" src="/sips-admin/crm/crm_edit/crm_edit.js"></script>