<link type="text/css" rel="stylesheet" href="css/calendar.css" />
<style>
    .modal
    {
        width: 75em;
        left:34%
    }
</style>

<div id="cliente_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Script Modal" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Dados de Cliente</h3>
    </div>
    <div class="modal-body">

    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Fechar</button>

    </div>
</div>

<div id="new_requisiton_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Script Modal" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Criar encomenda</h3>
    </div>
    <div class="modal-body">

    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Fechar</button>

    </div>
</div>


<div id="calendar_client_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Client" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Cliente</h3>
    </div>
    <div class="modal-body">
        <dl class="dl-horizontal" id="client_info">
        </dl>
    </div>
    <div class="modal-footer" style="text-align: inherit !important;">
        <span class="left">
            <button class="btn btn-danger icon-alone" id="btn_trash" ><i class="icon-trash"></i></button>
            <button class="btn btn-info" disabled>Mudar hora</button>
        </span>
        <span class="right">
            <button class="btn btn-link" data-dismiss="modal" aria-hidden="true">Fechar</button>
            <button class="btn btn-warning" id="btn_no_consult">Não há Consulta</button>
            <button class="btn btn-success" id="btn_init_consult">Iniciar Consulta</button>
        </span>
    </div>
</div>




<div id="div_master" class="content">
    <div class="row-fluid">
        <div class="span6">
            <div  class="grid">
                <div id="calendar_day" class="grid-content"> </div>
            </div>
        </div>
        <div class="span6">
            <div class="grid hide" id='ext-events'>
                <div class="grid-title"><div class="pull-left">Tipo de Reservas</div></div>
                <div class="grid-content">
                </div>
            </div>
            <div class="grid">
                <div class="grid-title">
                    <div class="pull-left">Marcações Pendentes</div>
                </div>
                <div style="overflow: auto;max-height:36em"  >
                    <table class="table table-mod archives" id='table_mp'>
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Data</th>
                            </tr>
                        </thead>
                        <tbody id='table_tbody_mp'>
                        </tbody>
                    </table>  
                </div>         
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <ul id="tabs" class="nav nav-tabs tabs-main">
                <li class="active"><a href="#Todas" data-toggle="tab">Todas as Marcações</a></li>
                <li><a href="#NovoCli" data-toggle="tab">Novos Clientes Sem Marcação</a></li>
            </ul>
            <div class="tab-content tabs-main-content">
                <div class="tab-pane tab-overflow-main" id="NovoCli">

                    <table class="table table-mod table-bordered table-striped" id='table_ncsm'></table>
                </div>
                <div class="tab-pane active tab-overflow-main" id="Todas">
                    <table class="table table-mod table-bordered table-striped" id='table_allm'></table>      
                </div>
            </div>   
        </div>   
    </div>

</div>
<div id="div_calendar" style="display: none" ></div>

<div id="div_requisition" style="display: none" ></div>

<div id="div_consult" style="display: none" ></div>
<script type="text/javascript" src="/AM/lib_js/requisition.js" ></script>
<script src="/sips-admin/crm/crm_edit/crm_edit.js" ></script>
<script src="lib_js/calendar.js" ></script>
<script src="js/dashboard.js" ></script>