<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Le styles -->
        <link href="css/login.css" rel="stylesheet">
        <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">

        <link rel="stylesheet" href="/bootstrap/icon/font-awesome.css">    
        <link rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.css">

        <link rel="shortcut icon" href="/images/icons/favicon.ico">

    </head>

    <body>

        <div id="container_demo" >
            <div id="wrapper">
                <div id="login" class="animate form position">
                    <form class="form-login" action="login.php" method="post"> 
                        <div class="content-login">
                            <a href="#" class="logo"></a>

                            <div class="inputs">
                                <i class="icon-user first-icon"></i><input name="username" required type="text" class="first-input" placeholder="Username" />
                                <div class="clear"></div>
                                <i class="icon-key"></i><input name="password" required type="password" class="last-input" placeholder="Password" />
                            </div>

                            <div class="clear"></div>
                            <div class="button-login"><input type="submit" class="btn btn-large btn-success" value="Log In"></div>
                        </div>

                        <div class="footer-login">
                            <div class="pull-left ">Bem vindo ao Spice</div>
                            <div class="pull-right"></div>
                            <div class="clear"></div>
                        </div>

                    </form>

                    <div class="info-message">

                    </div>

                </div>

            </div>
        </div>  

        <script src="/jquery/jquery-1.9.1.js"></script>


    </body>
</html>

