<div class="row-fluid">
    <form id="mass_client_form">
        <div class="grid span12">
            <div class="grid-title">
                <div class="pull-left">
                    Clientes avulso
                </div>
                <div class="pull-right">
                    <button class="btn btn-large btn-success">Gravar</button>
                </div>
            </div>
            <table class="table table-mod" id="mass_client_table">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Morada</th>
                        <th>Telefone</th>
                        <th>E-mail</th>
                        <th>To issue</th>
                        <th style="width:30px"><button class="btn btn-primary icon-alone" id="plus-client"><i class="icon-plus"></i></button></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <div class="clear"></div>
        </div>
    </form>
</div>
<script type="text/javascript" src="/AM/js/mass_client.js" ></script>