 
<style>
    .select_product
    {
        width:100%;
    }
    .level_highlight
    {
        background-color: #2ba6cb;
        border: 1px #000;
    }
    .level_div{

        width: 19%!important;
        margin: 2px!important;
    }

    .level_div_extra
    {
        width: 19%!important;
        margin: 2px!important;
    }

    .sub_product_div
    {
        border: 1px  solid black;
        padding: 4px;
    }


    .select_color_picker
    {
        width:105px;
    }

</style>

<div id="new_requisition_div" >
    <div class="grid">
        <div class="grid-content">

            <form id="requisition_form">
                <div class="row-fluid">
                    <div class="span12">
                        <button class="btn" onclick="history.back();" ><i class="icon-circle-arrow-left"></i>Voltar</button>
                        <div class="FormRow">

                            <div id="tipo_mensal" class="tipo_div formRight">
                                <h4>Encomenda Mensal</h4>
                            </div> 
                            <div id="tipo_especial"  class="tipo_div formRight">
                                <h4>Encomenda Especial</h4>
                                <div class="FormRow">
                                    <h4>Numero de Cliente</h4>
                                    <div class="FormRight">
                                        <input type="text" id="new_requisition_lead_id" class="validate[required,custom[onlyNumberSp]]">
                                    </div>
                                </div>
                                <div class="FormRow">
                                    <h4>Número de contrato</h4>
                                    <div class="FormRight">
                                        <input id="new_requisition_contract" type="text" class="validate[required,custom[onlyNumberSp]]" >
                                    </div>
                                </div>
                                <div class="FormRow">
                                    <h4>Código de Cliente</h4>
                                    <div class="FormRight">
                                        <input type="text" id="new_requisition_cod_cliente" class="validate[custom[onlyNumberSp]]">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="formRow pull-right">
                        <button class="btn btn-success right" id="new_requisition_submit_button"><i class="icon-check"></i>Encomendar</button>
                    </div> 
                </div>  
            </form>
            <div >
                <h4>Anexo</h4>
                <div class="formRow">
                    <form enctype="multipart/form-data" action="" method="POST" id="anexo_input_form">
                        <div class="fileupload fileupload-new" data-provides="fileupload">
                            <div class="input-append">
                                <div class="uneditable-input"><i class="icon-file fileupload-exists"></i> <span class="fileupload-preview"></span></div><span class="btn btn-file"><span class="fileupload-new">Escolha um ficheiro</span><span class="fileupload-exists">Alterar</span><input type="file" name="file_upload_all" id="file_upload" /></span><a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remover</a>
                            </div>
                        </div>
                    </form>
                    <button class="btn" id="anexo_upload_button"  >upload</button>
                    <div class="formRight">
                        <strong class="inline" id="label_anexo_info" >   </strong>
                    </div>
                </div>

            </div> 
            <div class="formRow">
                <button id="new_requisition_product_add_line" class="btn btn-primary right"><i class="icon-plus"></i>Adicionar produto</button>

            </div>
            <div class="clear"></div>
        </div> 
    </div> 


    <div class="grid product_div" style="display:none" id="placeholder_new_product_div" >
        <div class="grid-title">
            <div class="pull-left">
                Produto
            </div>
            <div class="pull-right">
                <button class='btn icon-alone btn-danger remove_item_requisition_table'><i  class='icon-remove'></i> </button>
            </div>
        </div>
        <div class="grid-content">
            <div class="row-fluid">

                <div class="level_div_extra span2"></div>
                <div class="level_div_extra span2"><button data-level="level2" class='span btn icon-alone btn-success add_second_sub_product' ><i  class='icon-plus'></i> </button></div>
                <div class="level_div_extra span2"><button data-level="level3" class='span btn icon-alone btn-success add_second_sub_product' disabled><i  class='icon-plus'></i> </button></div> 
                <div class="level_div_extra span2"><button data-level="level4" class='span btn icon-alone btn-success add_second_sub_product' disabled><i  class='icon-plus'></i> </button></div>
                <div class="level_div_extra span2"><button data-level="level5" class='span btn icon-alone btn-success add_second_sub_product' disabled><i  class='icon-plus'></i> </button></div>

            </div>
            <div class="row-fluid">
                <form class="requisition_form">
                    <div class="level_div span2" data-level="level1"></div>
                    <div class="level_div span2" data-level="level2"></div>
                    <div class="level_div span2" data-level="level3"></div> 
                    <div class="level_div span2" data-level="level4"></div>
                    <div class="level_div span2" data-level="level5"></div>
                </form>
            </div>

        </div> 
    </div> 

    <div id="placeholder_new_product" class="sub_product_div  " style="display:none; ">

        <div class="row-fluid">
            <div class="span9">

                <div class=" select_div" >
                </div>        

            </div>
            <div class="span3">
                <button class='btn  btn-danger icon-alone remove_second_sub_product span'><i  class='icon-minus'></i> </button>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">
                <div class="quantity_master_div" style="display:none">
                    <span  >Quantidade</span>
                    <div class=" quantity_div" >
                    </div>

                </div>
            </div>
            <div class="span6">
                <div class="color_master_div" style="display:none">
                    <span  >Cor</span>
                    <div class="color_div" >
                    </div>        
                </div>
            </div>


            <div class="clear"></div>
        </div>

    </div>

</div> 

<div id="extra_div">

</div>
<script type="text/javascript" src="/AM/lib_js/product.js" ></script>
<script type="text/javascript" src="/AM/js/requisition.js" ></script>
<script>
                            $(function()
                            {
                                var client = getUrlVars();

                                requisition1 = new requisition($("#extra_div"), {});
                                requisition1.init(function()
                                {
                                    requisition1.new_requisition($("#new_requisition_div"), client.id);
                                });
                            });
</script>