<link type="text/css" rel="stylesheet" href="/bootstrap/css/jquery.ui.plupload.css" /> 
<style>
    .tree {
        min-height: 20px;
        border-radius: 4px
    }

    .tree li {
        list-style-type: none;
        margin: 0;
        padding: 5px;
        position: relative
    }

    .tree ul ul li:hover {
        background: rgba(0,0,150,.015)
    }

    .tree li:after,.tree li:before {
        content: '';
        left: -20px;
        position: absolute;
        right: auto
    }

    .tree li:before {
        border-left: 1px solid #999;
        bottom: 50px;
        height: 100%;
        top: -11px;
        width: 1px;
        -webkit-transition: "border-color 0.1s ease 0.1s";
        transition: "border-color 0.1s ease 0.1s";
    }

    .tree li:after {
        border-top: 1px solid #999;
        height: 20px;
        top: 18px;
        width: 25px
    }

    .tree li > span {
        border: 1px dotted #999;
        border-radius: 5px;
        display: inline-block;
        padding: 3px 8px;
        text-decoration: none;
        -webkit-transition: color .2s ease .1s,background-color .2s ease .1s,border-color .3s ease .2s;
        transition: color .2s ease .1s,background-color .2s ease .1s,border-color .3s ease .2s
    }

    .tree li.parent_li>span {
        cursor: pointer;
    }

    .tree>ul>li::after,.tree>ul>li:before {
        border: 0
    }

    .tree li:last-child::before {
        height: 30px
    }

    .tree li.parent_li>span:hover,.tree li.parent_li>span:hover+ul li > span {
        background: #eee;
        border: 1px solid #94a0b4;
        color: #000
    }

    .tree>ul {
        padding-left: 0
    }

    .tree ul ul {
        padding-left: 10px;
    }

    .tree li.parent_li>span:hover {
        background-color: #DF8505;
        border: 1px solid #C67605;
        color: #fff
    }

    .tree li.parent_li>span:hover+ul li::before {
        border-left-color: #F89406
    }

    .tree li.parent_li>span:hover+ul li::after {
        border-top-color: #F89406
    }

    .tree li.parent_li>span:hover+ul li > span {
        background: #FDDFB3!important;
        border: 1px solid #FAA937;
        color: #000
    }

    .tree label{
        padding-left: 4px!important;

        padding-top: 0px!important;
    }

    .tree input, .tree .add-on, .tree select{
        padding: 1px!important;
    }
    .tree select{
        height: 24px!important;
    }

    .input_quantity
    {
        width:30px;
        margin-right: 5px;
    }

    #produtos_encomendados .grid{
        margin-top: 4px;
    }


</style>

<div id="new_requisition_div" >





    <div class="row-fluid">
        <div class="span4">
            <div class="grid-transparent">
                <div id="tipo_especial" class="tipo_div">
                    <form id="form_encomenda_especial">
                        <span class="input-prepend  ">
                            <span class="add-on">Número de contrato</span>
                            <input id="new_requisition_contract" type="text" class="validate[required,custom[spice_num_contrato]]" >
                        </span>
                    </form>
                </div>
            </div>

            <div id="clientBox"></div>
            <div class="grid-transparent" >
                <div class="grid-title">
                    <div class="pull-left"><i class="icon-list"></i> Lista de produtos</div>
                    <div class="pull-right"><button class="btn btn-success right" id="new_requisition_submit_button"><i class="icon-shopping-cart"></i>Encomendar</button></div>

                </div>

                <div id="produtos_encomendados">

                </div>
            </div>
        </div>
        <div class="span8">

            <div class="clear"></div>
            <div class="grid ">
                <div class="grid-title" style="overflow:visible">
                    <div class="pull-left">Hierarquia</div>
                    <div class="pull-right">
                        Produto
                        <select class="chosen-select" id="product_selector"></select>

                    </div>
                </div>
                <div class="grid-content">

                    <div id="tree" class="tree smart-form">
                    </div>
                    <div class='form-footer'>
                        <button class=" btn btn-primary" id="save_single_product"><i class="icon-plus-sign"></i>Adicionar à Lista</button>
                    </div>
                </div>
            </div>
            <div class="grid" >
                <div class="grid-title">
                    <div class="pull-left">Anexo</div>
                    <div class="pull-right">
                        <button id="browse" class="btn"><i class="icon-search"></i>Procurar...</button>
                        <button style="display:none" id="start-upload" class="btn btn-info"><i class='icon-upload'></i>Começar Upload</button>
                    </div>
                </div>
                <table class="table table-mod table-striped">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Progresso</th>
                            <th>Tamanho</th>
                        </tr>
                    </thead>
                    <tbody id="filelist"></tbody>
                </table>

                <div class="clear"></div>

            </div> 






            <div class="grid" >
                <div class="grid-title">
                    <div class="pull-left">Observações</div>
                    <div class="pull-right">

                    </div>
                </div> 
                <div class="grid-content">
                    <textarea style="width:95%; " id="new_requisition_obs"></textarea>
                </div>

                <div class="clear"></div>

            </div> 


        </div>





    </div>
</div> 




<div id="extra_div"></div>
<script type="text/javascript" src="/AM/lib_js/requisition.js" ></script>
<script type="text/javascript" src="/AM/lib_js/product.js" ></script>
<script type="text/javascript" src="/AM/lib_js/tree.js" ></script>


<script src="/bootstrap/js/plupload.full.min.js"></script>
<script type="text/javascript" src="/bootstrap/js/plupload_language/pt_BR.js"></script>


<script>
    var uploader;
    $(function() {
        var unique_number = (Math.floor(Math.random() * 1000) + 1);

        $("#new_requisition_submit_button").data("anexo_random_number", unique_number);

        uploader = new plupload.Uploader({
            browse_button: 'browse', // this can be an id of a DOM element or the DOM element itself
            url: '/AM/ajax/upload_file.php?action=upload&id=' + unique_number,
            filters: {
                mime_types: [
                    {title: "Ficheiros Imagem", extensions: "jpg,gif,png,bm"},
                    {title: "Ficheiros Zip", extensions: "zip,rar,tar,7z,zipx"},
                    {title: "Ficheiros Texto ", extensions: "txt,doc,docx,log,msg,odt,rtf"},
                    {title: "Ficheiros PDF", extensions: "pdf"},
                    {title: "Power Point", extensions: "ppt,pps,pptx"},
                    {title: "E-mail", extensions: "eml"},
                    {title: "Ficheiros Spreadsheet", extensions: "xlr,xls,xlsx"},
                    {title: "Outros", extensions: "csv,xml,sdf"}
                    Microsoft Excel
                ],
                max_file_size: "20mb",
                prevent_duplicates: true
            },
            init: {
                PostInit: function() {
                    document.getElementById('filelist').innerHTML = '';
                    document.getElementById('start-upload').onclick = function() {

                        uploader.start();
                        return false;
                    };
                },
                FilesAdded: function(up, files) {
                    plupload.each(files, function(file) {
                        $('#filelist').append('\
                                            <tr id="' + file.id + '">\n\
                                                <td>' + file.name + '</td>\n\
                                                <td>\n\
                                                    <div class="progress progress-warning active progress-striped">\n\
                                                    <div class="bar" style="width: 0%"></div>\n\
                                                    </div>\n\
                                                </td>\n\
                                                <td>' + plupload.formatSize(file.size) + '\n\
                                                    <div class="view-button">\n\
                                                        <button data-id="' + file.id + '" class="btn btn-mini icon-alone delete_anexo_line" ><i class="icon-trash"></i></button></td>\n\
                                                    </div>\n\
                                                </td>\n\
                                            </tr>');
                    });
                    $("#start-upload").show();
                },
                UploadProgress: function(up, file) {
                    document.getElementById(file.id).getElementsByClassName('bar')[0].style.width = file.percent + '%';
                },
                Error: function(up, err) {

                    $.jGrowl(err.file.name + "&#8594;" + err.message, {life: 3000});

                },
                FileUploaded: function(up, file, info) {

                    $.jGrowl(info.response, {life: 3000});
                    $("#filelist").find(".delete_anexo_line").prop("disabled", true);

                }

            }

        });
        uploader.init();
        $("#filelist").on("click", ".delete_anexo_line", function()
        {
            if (uploader.removeFile(uploader.getFile($(this).data().id))) {
                $(this).closest("tr").remove();
            }
        });


        var client = getUrlVars();

        requisition1 = new requisition($("#extra_div"), {uploader: uploader});
        requisition1.init(function()
        {

            requisition1.new_requisition($("#new_requisition_div"), (client.id) ? atob(client.id) : '');
        });
    });
</script>