<div id="ver_produto_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Script Modal" aria-hidden="true"   >
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Produto</h3>
    </div>
    <div class="modal-body"  >
        
       
    </div>
     <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Sair</button>
        </div>
</div>


 
<div id="ver_produto_requisition_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Script Modal" aria-hidden="true"   >
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Produto</h3>
    </div>
    <div class="modal-body"  >
        
       
    </div>
     <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Sair</button>
        </div>
</div>


<div class="row-fluid">
    <div class="span12">
        <div class="grid-transparent">
            <div class="grid-title">
                <div class="pull-left">
                    Encomendas atuais
                </div>
            </div>
            <div class="grid-content" id="requisition_div">
                <table id="view_requisition_datatable" class="table table-bordered table-mod-2"></table>
            </div> 
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="grid-transparent">       
            <div class="grid-title">
                <div class="pull-left">
                    <h4>Nova encomenda</h4>
                </div>
                <div class="pull-right">
                    <button class="btn icon-chevron-down" id="button_filtro_new_requisition"></button>  
                </div>
            </div>


            <div class="grid-content" id="new_requisition_div" style="display: none">

            </div> 
        </div>

    </div>
</div>
<div class="row-fluid">
    <div class="span12 grid-transparent" id="product_master_div">
        <div class="grid-title">
            <div class="pull-left">
                Produtos
            </div>
        </div>
        <div class="grid-content" id="requisition_div">
            <table id="view_product_datatable" class="table table-bordered table-mod-2"></table>
        </div> 
    </div>
</div>

<div id="main_requisition">


</div>

<script type="text/javascript" src="/AM/lib_js/requisition.js" ></script>
<script type="text/javascript" src="/AM/lib_js/product.js" ></script>
<script type="text/javascript" src="/AM/js/requisition.js" ></script>

