<div class="row-fluid">
    <div class="span12">
        <div class="grid ">
            <div class="grid-title">
                <div class="pull-left">
                    Encomendas atuais
                </div>
            </div>
            <div class="grid-content" id="requisition_div">
                <table id="view_requisition_datatable" class="table table-bordered table-mod-2"></table>
                <div class="clear"></div>
            </div> 

        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="span9" id="product_master_div">
        <div class="grid ">
            <div class="grid-title">
                <div class="pull-left">
                    Produtos
                </div>
            </div>
            <div class="grid-content" id="requisition_div">
                <table id="view_product_datatable" class="table table-bordered table-mod-2"></table>
                <div class="clear"></div>
            </div> 
        </div> 
    </div>
    <div class="span2">
         <div class="grid grid-transparent ">
            
        
            <div class="grid-content">
              <button class="btn btn-primary" id="button_new_requisition">Criar Nova Encomenda</button>
            </div> 
        </div> 
  
    </div>
</div>



<div id="new_requisition_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Script Modal" aria-hidden="true"  style="width:102em;left:25%" >
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Nova encomenda</h3>
    </div>
    <div class="modal-body"  >
        <div  id="new_requisition_div" >    </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Sair</button>
    </div>
</div>




<div id="main_requisition"></div>
<div id="extra_div"></div>
<div id="extra_div1"></div>

<script type="text/javascript" src="/AM/lib_js/requisition.js" ></script>
<script type="text/javascript" src="/AM/lib_js/product.js" ></script>
<script type="text/javascript" src="/AM/js/requisition.js" ></script>

