<div id="master_requests_div" >
    <div class="row-fluid">
        <div class="grid span12">
            <div class="grid-title">
                <div class="pull-left">
                    Pedidos
                </div>
            </div>
            <div class="grid-content">
                <button class="btn" id="button_relatorio_correio"><i class="icon-envelope"></i>Relatório Correio</button>
                <button class="btn" id="button_relatorio_frota"><i class="icon-envelope"></i>Relatório Frota</button>
                <button class="btn" id="button_relatorio_mensal_stock"><i class="icon-envelope"></i>Relatório Mensal de Stock</button>
                <button class="btn" id="button_relatorio_movimentacao_stock"><i class="icon-envelope"></i>Relatório Movimentação de Stock</button>
                <a  href="#view/new_requisition.html?domain=ZXF1aXA=" class="btn btn-primary" id="button_new_requisition" ><i class="icon-shopping-cart"></i>Nova Encomenda</a>
            </div> 
        </div>
    </div>
    <div class="row-fluid">
        <div class="grid span12">
            <div class="request_div" id="div_relatorio_correio" style="display:none"></div>
            <div class="request_div" id="div_relatorio_frota" style="display:none"></div>
            <div class="request_div" id="div_relatorio_mensal_stock" style="display:none"></div>
            <div class="request_div" id="div_relatorio_movimentacao_stock" style="display:none"></div>

        </div>
    </div>
</div>

<div id="modal_div"></div>


<script type="text/javascript" src="/AM/lib_js/requests.js" ></script>
<script type="text/javascript" src="/AM/js/requests.js" ></script>