<div id="admin_extra_zone"></div>
<ul class="nav nav-tabs tabs-main">

    <li class="active"><a href="#gestao_apoio_marketing" data-toggle="tab">Gestao apoio Mkt.</a></li>
    <li><a href="#novo_apoio_marketing" data-toggle="tab">Novo Apoio Mkt</a></li>

</ul>

<div class="tab-content tabs-main-content">
    <div class="tab-pane active" id="gestao_apoio_marketing">
        <div class="grid-title">
            <div class="pull-left">Apoio Marketing</div>

        </div>
        <div class="grid-content " id="pedidos_marketing_master_div" >
            <table class="table table-bordered table-mod" id="pedidos_marketing_datatable"></table>
            <div class="clear"></div>
        </div>
    </div>

    <div class="tab-pane " id="novo_apoio_marketing">
        <div class="grid-title">
            <div class="pull-left">
                Apoio Marketing
            </div>
        </div>
        <div class="grid-content" id="div_apoio_marketing" ></div>
    </div>
</div>




<div id="modal_div"></div>
<script type="text/javascript" src="/AM/lib_js/requests.js" ></script>
<script type="text/javascript" src="/AM/js/requests_apoio_mkt.js" ></script>
<script type="text/javascript">
    var product;
    $(function()
    {
        Rq = new requests($("#admin_extra_zone"), {});
        Rq.apoio_marketing.init();
        Rq.apoio_marketing.get_to_datatable($("#pedidos_marketing_datatable"));
    });
</script>