<!DOCTYPE html>
<html lang="en"><head>
        <meta charset="utf-8">
        <title>Spice</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="Finesource">

        <!-- Le styles -->
        <link type="text/css" rel="stylesheet" href="/bootstrap/css/style.css" />
        <link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap.css" />

        <link type="text/css" rel="stylesheet" href="/bootstrap/css/chosen-1.min.css" />
        <link type="text/css" rel="stylesheet" href="/bootstrap/css/demo_table.css" />
        <link type="text/css" rel="stylesheet" href="/bootstrap/css/animate.min.css" />

        <link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap-tagsinput.css" />
        <link type="text/css" rel="stylesheet" href="/bootstrap/icon/font-awesome.css" />
        <link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.css">

        <link rel="stylesheet" type="text/css" media="screen" title="red-theme" href="css/red.css" />
        <link type="text/css" rel="stylesheet" href="/bootstrap/css/datetimepicker.css" />
        <link type="text/css" rel="stylesheet" href="/bootstrap/css/validationEngine.jquery.css" />      
        <link type="text/css" rel="stylesheet" href="/bootstrap/css/jquery.jgrowl.css">
        <link type="text/css" rel="stylesheet" href="/bootstrap/css/fullcalendar.css" />
        <link type="text/css" rel="stylesheet" href="/bootstrap/css/jquery.stepy.css" />
        <link type="text/css" rel="stylesheet" href="/jquery/colourPicker/colourPicker.css" />
        <link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap-fileupload.min.css" />
        <link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap-modal-tune.css" />
        <link type="text/css" rel="stylesheet" href="/bootstrap/js/msg/jquery.msg.css" />
        <link type="text/css" rel="stylesheet" href="/jquery/themes/flick/bootstrap.css">
        <link type="text/css" rel="stylesheet" href="css/spice.css">
        <link href="img/favicon.ico" type="image/vnd.microsoft.icon" rel="shortcut icon">
        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- Le fav and touch icons -->
        <link rel="shortcut icon" href="/images/icons/favicon.ico">


    </head>

    <body>

        <!--Header Start-->
        <div class="header" >

            <!-- <a class="logo"><h1>SPICE</h1></a> -->

            <div class="pull-right">

                <!--Notifications Start-->  
                <div class="notifications-head">

                    <!--Messages Start-->
                    <div class=" m_left hide-mobile" >
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <span class="notification" id="msg_count">0</span><span class="triangle-1"></span><i class="icon-comments"></i><span class="caret"></span>
                        </a>
                        <div class="dropdown-menu">
                            <span class="triangle-2"></span>
                            <div class="ichat">
                                <div class="ichat-messages">
                                    <div class="ichat-title">
                                        <div class="pull-left">Mensagens Novas</div>
                                        <div class="clear"></div>
                                    </div>
                                    <div id="imessage_placeholder" class=""></div>
                                </div>
                                <a href="javascript:void(0);" class="imark"><span id="mark_all_read">Marcar tudo como lido</span></a>
                            </div>
                        </div>
                    </div>
                    <!--Messages END--> 

                    <div class="pull-left hide-mobile" id="notifications">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <span class="notification" id="alerts-count">0</span><span class="triangle-1"></span><i class="icon-bell"></i><span class="caret"></span>
                        </a>
                        <div class="dropdown-menu">

                            <span class="triangle-2"></span>
                            <div class="ichat">
                                <div class="ichat-messages">
                                    <div class="ichat-title">
                                        <div class="pull-left"></div>
                                        <div class="pull-right"><span>Atualizado à <span id="alert_time"></span></span></div>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="r_activity" id="alerts-content">
                                        <!-- aqui -->
                                        <!--
                                            <div class="imessage">
                                                <div class="r_icon"><a href="#"><i class="icon-user"></i></a></div>
                                                <div class="r_info">
                                                    <div class="r_name">Registered new user</div>
                                                    <div class="r_text"><i class="icon-time"></i> 15th of May - 06:21</div>
                                                    <div class="r_link"><a href="#">View...</a></div>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                        -->
                                        <!-- aqui -->
                                    </div>
                                </div>
                                <a href="javascript:void(0);" class="imark" id="mark_all_alerts_read">Marcar tudo como lido</a>

                            </div>

                        </div>
                    </div>

                </div><!--Notifications END-->

                <!--Button User Start-->  
                <div class="btn-group pull-right" >
                    <a class="btn btn-profile dropdown-toggle" id="button-profile" data-toggle="dropdown" href="#">
                        <span class="name-user"><strong>Bem vindo</strong>, <span id="user-name"></span></span> 
                        <span class="avatar"></span> 
                        <span class="caret"></span>
                    </a>
                    <div class="dropdown-menu" id="prof_dropdown">
                        <div class="item_m"><span class="caret"></span></div>
                        <ul class="clear_ul" >
                            <li><a href="logout.php"><i class="icon-off"></i> Sign Out</a></li>
                        </ul>
                    </div>
                </div>
                <!--Button User END-->  

            </div>
        </div>
        <!--Header END-->

        <!--Sidebar Start--> 
        <div id="sidebar">
            <ul class="menu-sidebar">
                <li class="role-admin role-dispenser role-branch role-asm" style="display:none;"><a href="view/dashboard.html"><i class="icon-dashboard"></i> <span>Geral</span></a></li>
                <li class="role-admin role-dispenser role-branch role-asm" style="display:none;"><a href="view/calendar.html"><i class="icon-calendar"></i> <span>Agenda</span></a></li>
                <li class="role-admin role-dispenser role-branch" style="display:none;"><a href="view/create_client.html"><i class="icon-plus"></i><span>Novo Cliente</span></a></li>
                <li class="role-admin role-dispenser role-branch" style="display:none;"><a href="view/mass_client.html"><i class="icon-plus-sign"></i> <span>Leads</span></a></li>
                <li class="role-dispenser role-branch" style="display:none;"><a href="view/requests_apoio_mkt.html"><i class="icon-envelope-alt"></i><span>Apoio Mkt.</span></a></li>
                <li class="role-admin role-mkt" style="display:none;"><a href="view/admin/pedidos_apoio_mkt.html"><i class="icon-envelope-alt"></i><span>Apoio Mkt</span></a></li>
                <li class="role-dispenser role-branch" style="display:none;"><a href="view/requests.html"><i class="icon-briefcase"></i><span>Pedidos</span></a></li>
                <li class="role-admin role-dispenser role-branch  role-abo role-sbo" style="display:none;"><a href="view/admin/pedidos.html"><i class="icon-briefcase"></i><span>Gestão Pedidos</span></a></li>
                <li class="role-admin role-abo" style="display:none;"><a href="view/admin/produtos.html"><i class="icon-briefcase"></i><span>Produtos</span></a></li>
                <li class="role-admin role-asm" style="display:none;"><a href="view/report/consultas.html"><i class="icon-user-md"></i><span>Consultas</span></a></li>
                <li class="role-admin role-asm" style="display:none;"><a href="view/report/audiograma.html"><i class="icon-headphones"></i><span>Audiograma</span></a></li>
                <li class="role-admin" style="display:none;"><a href="view/admin/userlist.html"><i class="icon-user"></i><span>Users</span></a></li>
                <li class="role-admin" style="display:none;"><a href="view/admin/geral.html"><i class="icon-wrench"></i><span>Utils</span></a></li>
            </ul>
        </div>
        <!--Sidebar END-->

        <!--Content Start-->
        <div id="content">


            <!--SpeedBar Start-->
            <div class="speedbar">
                <div class="speedbar-content">

                    <ul class="menu-speedbar">
                        <!--<li><a href="dashboard.html" class="act_link">Here</a></li>
                        <li><a href="charts.html">There</a></li>-->
                    </ul>


                </div>
            </div>
            <!--SpeedBar END-->


            <!--CONTENT MAIN START-->
            <div class="content" id="principal">


            </div>
        </div>
        <script src="/jquery/jquery-1.9.1.js"></script>
        <script src="/jquery/jqueryUI/jquery-ui-1.10.2.custom.min.js"></script>
        <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/bootstrap/js/bootstrap-tagsinput.js" ></script>   
        <script type="text/javascript" src="/bootstrap/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="/bootstrap/js/chosen-1.jquery.min.js"></script>
        <script type="text/javascript" src="/bootstrap/js/moment.min.js"></script>
        <script type="text/javascript" src="/bootstrap/js/moment.langs.min.js"></script>
        <script type="text/javascript" src="/bootstrap/js/validation/jquery.validationEngine.js"></script>
        <script type="text/javascript" src="/bootstrap/js/validation/languages/jquery.validationEngine-pt.js"></script>
        <script type="text/javascript" src="/bootstrap/js/validation/contrib/other-validations.js"></script>
        <script type="text/javascript" src="/bootstrap/js/datetimepicker/bootstrap-datetimepicker.min.js"></script>
        <script type="text/javascript" src="/bootstrap/js/datetimepicker/locales/bootstrap-datetimepicker.pt.js"></script>
        <script type="text/javascript" src="/bootstrap/js/jquery.jgrowl.js"></script>
        <script type="text/javascript" src="/bootstrap/js/fullcalendar.min.js"></script>
        <script type="text/javascript" src="/bootstrap/js/jquery.history.min.js"></script>
        <script type="text/javascript" src="/bootstrap/js/jquery.stepy.min.js"></script>
        <script type="text/javascript" src="/bootstrap/js/jquery.autotab.min.js"></script>
        <script type="text/javascript" src="/bootstrap/js/bootbox.min.js"></script>
        <script type="text/javascript" src="/jquery/colourPicker/colourPicker.js"></script>
        <script type="text/javascript" src="/bootstrap/js/bootstrap-fileupload.min.js"></script>
        <script type="text/javascript" src="/bootstrap/js/autoNumeric.js"></script>
        <script type="text/javascript" src="/bootstrap/js/jquery.slimscroll.min.js"></script>
        <script type="text/javascript" src="lib_js/alerts_bootbox.js" ></script>
        <script type="text/javascript" src="js/aplication.js"></script>

        <script type="text/javascript" src="lib_js/calendar.js" ></script>
        <script type="text/javascript" src="lib_js/client_box.js" ></script>
        <script type="text/javascript" src="lib_js/ver_cliente.js" ></script>
        <script type="text/javascript" src="lib_js/print_table.js"></script>

        <script type="text/javascript" src="/bootstrap/js/jsPDF/jspdf.js"></script>
        <script type="text/javascript" src="/bootstrap/js/jsPDF/jspdf.plugin.standard_fonts_metrics.js"></script> 
        <script type="text/javascript" src="/bootstrap/js/jsPDF/jspdf.plugin.split_text_to_size.js"></script>               
        <script type="text/javascript" src="/bootstrap/js/jsPDF/jspdf.plugin.from_html.js"></script>             
        <script type="text/javascript" src="/bootstrap/js/jsPDF/jspdf.plugin.cell.js"></script>  
        <script type="text/javascript" src="/bootstrap/js/jsPDF/jspdf.plugin.addimage.js"></script>  
        <script type="text/javascript" src="/bootstrap/js/jsPDF/jspdf.plugin.split_text_to_size.js"></script>  
        <script type="text/javascript" src="/bootstrap/js/jsPDF/FileSaver/FileSaver.js"></script>
        <script type="text/javascript" src="/bootstrap/js/jsPDF/Deflate/adler32cs.js"></script>
        <script type="text/javascript" src="/bootstrap/js/jsPDF/Deflate/deflate.js"></script>
        
        
        <script type="text/javascript" src="/bootstrap/js/msg/jquery.center.min.js" ></script>
        <script type="text/javascript" src="/bootstrap/js/msg/jquery.msg.min.js" ></script>

    </body>
</html>