 


<div class="row-fluid">
    <div class="span12 grid">
        <div class="grid-title">
            <div class="pull-left">
                <h4>Gestão de Encomendas</h4>
            </div>
        </div>
        <div class="grid-content div_admin_edit" id="requisition_master_div"  >
            <table class="table table-bordered table-mod" id="view_requisition_datatable"></table>
                    <div class="clear">  </div>
        </div>

    </div>
</div>

<div id="extra_div"></div>

<script type="text/javascript" src="/AM/lib_js/requisition.js" ></script>
<script type="text/javascript">


    $(function()
    {




        //ENCOMENDAS--------------------------------------------------------------------------------------
        var config = new Object();




        requisition1 = new requisition($("#extra_div"), config);
        requisition1.init(function()
        {
            requisition1.get_current_requisitions($("#view_requisition_datatable"), 1);
        });





        $(".chosen-select").chosen({no_results_text: "Sem resultados"});
        $.post('ajax/admin.php', {action: "get_agentes"},
        function(data)
        {
            var options = "";
            $.each(data, function()
            {
                options += "<option value='" + this.user + "'>" + this.full_name + "</option>";
            });
            $("#select_agent_transfer1,#select_agent_transfer2").append(options).trigger("chosen:updated").css("width", "225px");

        }, "json");
        ;
    });

    $("#admin_zone").on("click", ".accept_requisition", function()
    {
        var this_button = $(this);
        $.post('ajax/requisition.php', {action: "accept_requisition", id: $(this).val()}, function() {
            this_button.parent().next().text("Aprovado");
        }, "json");
    });

    $("#admin_zone").on("click", ".decline_requisition", function()
    {
        var this_button = $(this);
        $.post('ajax/requisition.php', {action: "decline_requisition", id: $(this).val()}, function() {
            this_button.parent().next().text("Rejeitado");
        }, "json");
    });


</script>