<style>
    .cod_cliente_input{
        margin-bottom: 0px !important;
    }
</style>
<div class="row-fluid">
    <div class="span12 grid">
        <div class="grid-title">
            <div class="pull-left">
                Gestão de Encomendas
            </div>
        </div>
        <div class="grid-content div_admin_edit" id="requisition_master_div"  >
            <table class="table table-bordered table-mod" id="view_requisition_datatable"></table>
            <div class="clear"></div>
        </div>

    </div>
</div>

<div id="extra_div"></div>

<script type="text/javascript" src="/AM/lib_js/requisition.js" ></script>
<script type="text/javascript">

    $(function()
    {
        requisition1 = new requisition($("#extra_div"), {});
        requisition1.init(function()
        {
            requisition1.get_current_requisitions($("#view_requisition_datatable"), 1);
        });
    });

</script>