<style>
    .cod_cliente_input{
        margin-bottom: 0px !important;
    }
</style>
<div id="admin_extra_zone"></div>

<ul class="nav nav-tabs tabs-main">

    <li class="active"><a href="#mail" data-toggle="tab">Correio</a></li>
    <li><a href="#frt" data-toggle="tab">Frota</a></li>
    <li><a href="#stk" data-toggle="tab">Stock</a></li>
    <li><a href="#mstk" data-toggle="tab">Movimentações</a></li>
    <li><a href="#enc" data-toggle="tab">Encomendas</a></li>
</ul>
<div class="tab-content tabs-main-content">

    <div class="tab-pane active master_pedido_div" id="mail">
        <div class="grid-title">
            <div class="pull-left">Correio</div>
            <div class="pull-right">
                <button class="btn btn-danger toggle_aproved" data-type="correio" ><i class='icon-eye-close'></i>Aprovados</button>
                <button class="btn btn-lg btn-info" id="export_C"><i class='icon-download'></i>Transferir</button>

            </div>
        </div>
        <div class="grid-content div_admin_edit" id="pedidos_correio_master_div" >
            <table class="table table-bordered table-mod datables_updatable" id="pedidos_correio_datatable"></table>
            <div class="clear"></div>
        </div>
    </div>
    <div class="tab-pane master_pedido_div" id="frt">
        <div class="grid-title">
            <div class="pull-left">Relatório de Frota</div>
            <div class="pull-right">
                <button class="btn btn-danger toggle_aproved" data-type="frota"><i class='icon-eye-close'></i>Aprovados</button>
                <button class="btn btn-lg btn-info" id="export_F"><i class='icon-download'></i>Transferir</button>
            </div>
        </div>
        <div class="grid-content div_admin_edit" id="pedidos_frota_master_div"  >
            <table class="table table-bordered table-mod datables_updatable" id="pedidos_frota_datatable"></table>
            <div class="clear"></div>
        </div>
    </div>
    <div class="tab-pane master_pedido_div" id="stk">
        <div class="grid-title">
            <div class="pull-left">Relatório de Stock</div>
            <div class='pull-right'>
                <button class="btn btn-danger toggle_aproved" data-type="stock"><i class='icon-eye-close'></i>Aprovados</button>
                <button class="btn btn-lg btn-info" id="export_S"><i class='icon-download'></i>Transferir</button>
            </div>
        </div>
        <div class="grid-content div_admin_edit" id="pedidos_stock_master_div"  >
            <table class="table table-bordered table-mod datables_updatable" id="pedidos_stock_datatable"></table>
            <div class="clear"></div>
        </div>
    </div>
    <div class="tab-pane master_pedido_div" id="mstk">
        <div class="grid-title">
            <div class="pull-left">Movimentações de Stock</div>
            <div class="pull-right">
                <button class="btn btn-danger toggle_aproved" data-type="mov_stock"><i class='icon-eye-close'></i>Aprovados</button>
                <button class="btn btn-lg btn-info" id="export_MS"><i class='icon-download'></i>Transferir</button>
            </div>
        </div>
        <div class="grid-content div_admin_edit" id="pedidos_movimentacao_master_div"  >
            <table class="table table-bordered table-mod datables_updatable" id="pedidos_movimentacao_datatable"></table>
            <div class="clear"></div>
        </div>
    </div>
    <div class="tab-pane master_pedido_div" id="enc">
        <div class="grid-title">
            <div class="pull-left">
                Gestão de Encomendas
            </div>
            <div class="pull-right">
                <button class="btn btn-danger toggle_aproved" data-type="encomenda"><i class='icon-eye-close'></i>Aprovados</button>
                <button class="btn btn-lg btn-info" id="export_ENC"><i class='icon-download'></i>Transferir</button>

            </div>
        </div>
        <div class="grid-content div_admin_edit" id="requisition_master_div"  >
            <table class="table table-bordered table-mod datables_updatable" id="view_requisition_datatable"></table>
            <div class="clear"></div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/AM/lib_js/requests.js" ></script>
<script type="text/javascript">
    var product;

    $(function() {
        Rq = new Requests($("#admin_extra_zone"), {});


        Rq.relatorio_correio.init();
        Rq.relatorio_correio.get_to_datatable($("#pedidos_correio_datatable"));

        Rq.relatorio_frota.init();
        Rq.relatorio_frota.get_to_datatable($("#pedidos_frota_datatable"));

        Rq.relatorio_mensal_stock.init();
        Rq.relatorio_mensal_stock.get_to_datatable($("#pedidos_stock_datatable"));

        Rq.relatorio_movimentacao_stock.init();
        Rq.relatorio_movimentacao_stock.get_to_datatable($("#pedidos_movimentacao_datatable"));
    });



</script>
<script type="text/javascript" src="/AM/lib_js/requisition.js" ></script>
<script type="text/javascript">

    $(function() {
        var rq = new requisition($("#admin_extra_zone"), {});
        rq.init(function()
        {
            if (SpiceU.user_level > 5) {
                $("#button_new_requisition").hide();
            }
            else {
                $("#principal button.btn-info").hide();
            }
            rq.get_current_requisitions($("#view_requisition_datatable"), 1);
        });

        var get = getUrlVars();
        if (get.enc) {
            $('.tabs-main a:last').tab('show');
        }

    });

    $(".toggle_aproved").click(function(e)
    {
        e.preventDefault();
        $(this).find("i").toggleClass("icon-eye-open").toggleClass("icon-eye-close");
        $(this).toggleClass("btn-success").toggleClass("btn-danger");
       $(this).parents(".master_pedido_div").find(".datables_updatable").dataTable().fnReloadAjax();
    });

</script>