<div id="admin_extra_zone"></div>

<ul class="nav nav-tabs tabs-main">
  <li class="active"><a href="#mkt" data-toggle="tab">Apoio Markting</a></li>
  <li><a href="#mail" data-toggle="tab">Correio</a></li>
  <li><a href="#frt" data-toggle="tab">Frota</a></li>
  <li><a href="#stk" data-toggle="tab">Stock</a></li>
  <li><a href="#mstk" data-toggle="tab">Movimentações</a></li>
</ul>
<div class="tab-content tabs-main-content">
    <div class="tab-pane active" id="mkt">
        <div class="grid-title">
            <div class="pull-left">Apoio Marketing</div>
            <div class="pull-right">
                <button class="btn btn-lg btn-info" id="export_AM"><i class='icon-download'></i>Transferir</button>
            </div>
        </div>
        <div class="grid-content div_admin_edit" id="pedidos_apoio_marketing_master_div"  >
            <table class="table table-bordered table-mod" id="pedidos_apoio_marketing_datatable"></table>
            <div class="clear"></div>
        </div>
    </div>
    <div class="tab-pane" id="mail">
        <div class="grid-title">
            <div class="pull-left">Correio</div>
            <div class="pull-right">
                <button class="btn btn-lg btn-info" id="export_C"><i class='icon-download'></i>Transferir</button>
            </div>
        </div>
        <div class="grid-content div_admin_edit" id="pedidos_correio_master_div" >
            <table class="table table-bordered table-mod" id="pedidos_correio_datatable"></table>
            <div class="clear"></div>
        </div>
    </div>
    <div class="tab-pane" id="frt">
        <div class="grid-title">
            <div class="pull-left">Relatório de Frota</div>
            <div class="pull-right">
                <button class="btn btn-lg btn-info" id="export_F"><i class='icon-download'></i>Transferir</button>
            </div>
        </div>
        <div class="grid-content div_admin_edit" id="pedidos_frota_master_div"  >
            <table class="table table-bordered table-mod" id="pedidos_frota_datatable"></table>
            <div class="clear"></div>
        </div>
    </div>
    <div class="tab-pane" id="stk">
        <div class="grid-title">
            <div class="pull-left">Relatório de Stock</div>   
            <div class='pull-right'>
                <button class="btn btn-lg btn-info" id="export_S"><i class='icon-download'></i>Transferir</button>
            </div>   
        </div>
        <div class="grid-content div_admin_edit" id="pedidos_stock_master_div"  >
            <table class="table table-bordered table-mod" id="pedidos_stock_datatable"></table>
            <div class="clear"></div>
        </div>
    </div>
    <div class="tab-pane" id="mstk">
        <div class="grid-title">
            <div class="pull-left">Movimentações de Stock</div>
            <div class="pull-right">
                <button class="btn btn-lg btn-info" id="export_MS"><i class='icon-download'></i>Transferir</button>
            </div>
        </div>
        <div class="grid-content div_admin_edit" id="pedidos_movimentacao_master_div"  >
            <table class="table table-bordered table-mod" id="pedidos_movimentacao_datatable"></table>
            <div class="clear"></div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/AM/lib_js/requests.js" ></script>
<script type="text/javascript">
    var product;

    $(function()
    {
        Rq = new requests($("#admin_extra_zone"), {});

        Rq.apoio_marketing.init();
        Rq.apoio_marketing.get_to_datatable($("#pedidos_apoio_marketing_datatable"));

        Rq.relatorio_correio.init();
        Rq.relatorio_correio.get_to_datatable($("#pedidos_correio_datatable"));

        Rq.relatorio_frota.init();
        Rq.relatorio_frota.get_to_datatable($("#pedidos_frota_datatable"));

        Rq.relatorio_mensal_stock.init();
        Rq.relatorio_mensal_stock.get_to_datatable($("#pedidos_stock_datatable"));

        Rq.relatorio_movimentacao_stock.init();
        Rq.relatorio_movimentacao_stock.get_to_datatable($("#pedidos_movimentacao_datatable"));
    });



</script>