
<div class="row-fluid">
    <div class="grid span3">
        <div class="grid-title">
            <div class="pull-left">
                Opções gerais
            </div>
        </div>

        <div class="grid-content"  >
            <button class="btn" id="create_product_modal_button">Criar novo Produto</button>

        </div>


        <div class="clear"></div>
    </div>



    <div class="grid span9">
        <div class="grid-title">
            <div class="pull-left">
                Produtos
            </div>
        </div>

        <div class="grid-content"  >
            <table class="table table-bordered table-mod" id="view_product_datatable"></table>

        </div>
        <div class="formRow ">
            <span class="label label-important">Produtos Eliminados</span>
            <span class="label label-success">Produto com HighLight</span>
            <span class="label label-warning">Produtos Inativos</span>
        </div>

        <div class="clear"></div>
    </div>
</div>
 
<div id="extra_div"></div>
<script type="text/javascript" src="/AM/lib_js/product.js" ></script>
<script type="text/javascript">
    var product;

    $(function()
    {
        var config = new Object();
        product = new products($("#extra_div"), config);
        product.init(function() {
            product.init_to_datatable($("#view_product_datatable"));
        });
    });



    $("#create_product_modal_button").click(function()
    {
        product.init_new_product(function() {
            product.init_to_datatable($("#view_product_datatable"));
        });

    });

</script>